[2014-02-28 06:13] madstt opened #14 "Array of interfaces"
Hi,

I get an error on the following:

var mock = new Mock\<IMyInterface[]\>();

Is this a known issue, or?

[2015-04-24 08:19] herecydev opened #15 "ProxyGenerationException using 3+ observers"
I've made a [gist](https://gist.github.com/herecydev/081a7703866f19005b95) to demonstrate the ProxyGenerationException I get when trying to mock an interface with multiple observers.

The issue seems to only occur when running at least 3 observers (2 is fine strangely).

![image](https://cloud.githubusercontent.com/assets/11328618/7315290/09ddffac-ea64-11e4-8908-5a9e67e418c4.png)

Currently using

[2015-04-24 08:33] herecydev commented on #15
Moved [here](https://github.com/Moq/moq4/issues/167).

[2015-04-24 08:33] #15 closed

[2015-09-16 10:00] mfilippov opened #16 "Strange behaviour for VerifyAll"
I have a problem. If I hasn't been setup property in mocked interface I got error:
[code]

[2015-11-03 02:51] robobat opened #17 "Unable to install Moq"
Hi,

Pretty new to Xamarin and Android.  This is the error I'm getting using Xamarin Studio version 5.9.7 (build 22) and xamarin android Version 5.1.7

Could not install package 'Moq 4.2.1510.2205'. You are trying to install this package into a project that targets 'MonoAndroid,Version=v6.0', but the package does not contain any assembly references or content files that are compatible with that fr

[2015-11-12 11:18] IlyaKhD opened #18 "DNXCore support"
Do you have any milestones?

[2015-12-06 04:20] Dalanie commented on #17
Same issue here...

[2016-02-10 06:01] maartenmensink commented on #18
Would love to see dnxcore50 being supported!

[2016-02-10 06:06] maartenmensink commented on #18
I noticed microsoft guys have forked moq4 repo https://github.com/aspnet/moq4/commits/netcore

[2016-03-11 18:50] justinhhorner commented on #18
@maartenmensink Thanks for sharing that info. Were you able to get the solution working? I've tried in my dnxcore50 project but it fails to resolve it.

[2016-03-17 23:45] jroitgrund opened #19 "Mocked method returns mock even for null if property predicate is specified."
This test fails:

    var artist = new Artist();
    artist.Id = "4576";
    var deserializer = Mock.Of<IXmlDeserializer<Album>>(
        d => d.Deserialize("foo").Artist == artist);
    Assert.IsNull(deserializer.Deserialize(null));

Even stranger is that if I replace the IsNull assert with

    Assert.AreEqual("4576", deserializer.Deserialize(null).Artist.Id)

it passes.

If instead I do

    va

[2016-03-23 08:02] maartenmensink commented on #18
@justinhhorner yes i got it working. I just tried a new project and noticed it was moved to a other nuget repo. This should do the trick

nuget feed
`<add key="AspetC Contrib" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />`

project.json
[code]

Program.cs
[code]

[2016-04-28 01:30] jonasflesch commented on #17
Same here.

[2016-04-28 02:00] kzu commented on #17
Not supported.

[2016-04-28 02:00] #17 closed

[2016-06-23 11:10] paurail commented on #18
:+1:

[2016-06-29 10:22] RehanSaeed opened #20 ".Net Core 1.0.0 Support"
I'm using xUnit with Moq 4.6.25-alpha and get the following error:

This is my project.json file. I understand the the Castle.Core dependency may be where I really need to raise an issue.

[code]

[2016-06-29 13:53] kzu commented on #20
Yep, we don't use that API AFAIK

[2016-06-30 11:51] #20 closed

[2016-07-14 03:55] PivotalAnimal opened #21 ".NET Core?"
Is this project no longer? It seems outdated. Are there any plans to upgrade to project.json?

[2016-07-14 16:42] kzu commented on #21
Duplicate of https://github.com/moq/moq4/pull/225

[2016-07-14 16:42] #21 closed

[2016-07-14 16:44] kzu commented on #21
BTW, project.json doesn't seem like it will have a long life, so we may never "upgrade" to it.

See https://github.com/Microsoft/msbuild/issues?q=is%3Aissue+is%3Aopen+label%3AParity-XProj

[2016-07-14 16:44] kzu commented on #18
Dupe of https://github.com/moq/moq4/pull/225

[2016-07-14 16:44] #18 closed

[2016-07-14 16:45] kzu commented on #19
Plz report at https://github.com/moq/moq4/issues

[2016-07-14 16:45] #19 closed

[2016-07-14 16:45] kzu commented on #14
Plz report at https://github.com/moq/moq4/issues

[2016-07-14 16:45] #14 closed

[2016-07-14 16:45] kzu commented on #16
Plz report at https://github.com/moq/moq4/issues

[2016-07-14 16:45] #16 closed

[2020-11-07 03:21] nminaya opened #1097 "Add implicit cast from Mock<T> to T"
Have you consider adding an implicit cast to Mock class in order to be able to cast implicitly ```Mock<T>``` to ```T```?

This implicit cast should return the mock.Object instance.

[2020-11-07 10:14] stakx commented on #1097
This has been tried in the past, but it turns out it doesn't work reliably.

https://github.com/moq/moq4/blob/9638d0d6df2e9b89eb3090e19a1c566786b18dd6/Source/Mock.Generic.cs#L493-L504

(That link is broken, but the reason for this not working is found in the [C# specification which disallows such user-defined conversions](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-s

[2020-11-07 10:14] #1097 closed, assigned to nobody

[2020-11-10 16:29] apazureck opened #1099 "VerifyAdd does not work"
Hi,

First of all thanks for this great framework, having a lot of fun using it!

I stumbled upon a problem with verifying add. I currently use the nuget version 4.14.7

`<PackageReference Include="Moq" Version="4.14.7" />`

The target framework is .net core 3.1

I tried following test:

[code]

I would expect this to pass, because it was subscribed once, but my Test tells me it was not called.

W

[2020-11-10 16:41] stakx commented on #1099
You're doing nothing wrong, it's just that for back-compatibility reasons, `VerifyAdd` required at least one prior call to `SetupAdd` / `SetupRemove` on the same mock. (See #1058.) This requirement has recently been lifted by #1082 and your use case should work in the upcoming release (4.15.0).

[2020-11-10 16:41] #1099 closed, assigned to nobody

[2020-11-11 07:17] apazureck commented on #1099
Thanks for the quick reply. Worked like a charm. Ok, now I get why me/google did not find anything on that topic.

[2020-11-12 10:27] Onkelborg opened #1102 "VerifyNoOtherCalls is failing a lot for existing tests due to unverified event registrations"
Due to #1084 (#1082), VerifyNoOtherCalls have started to fail for lots of existing unit tests.

I understand the intention behind the change, however, for existing unit tests, the change is a big issue. For example, in our code base, we have approx 2500 unit tests, and 70 of them started failing due to this change of behavior.

May I suggest adding an overload to VerifyNoOtherCalls (with ex. enum

[2020-11-12 12:09] stakx commented on #1102
As I'm sure you're already aware, this change was intentional. I decided to make it because `VerifyNoOtherCalls` hasn't been around for *that* long yet, so it was likely to affect only a small part of all Moq-dependent code out there. Adding a new overload to cater for the old behavior doesn't seem like a good idea to me TBH, because the old behavior was arguably "wrong". If you're ready to adjust

[2020-11-12 12:26] Onkelborg commented on #1102
I understand that it was intentional, it was more a "I want to use this new feature, but I don't want to understand and fix a lot of old unit tests that broke due to the change not being backwards compatible". But hey, I'm fixing them now :)

(Just updating all calls to VerifyNoOtherCalls could be done with a simple "search and replace" and would be a lot quicker than trail and error on lots of ol

[2020-11-12 12:41] Onkelborg commented on #1102
Regarding the other issue, I think #1093 is related

Edit: I did have some issues in a few tests where I had accidentally created a mock, and passed it directly into the Setup methods instead of passing a delegate that creates a mock. Doing that change seems to fix that one for me :)

[2020-11-12 17:45] stakx commented on #1102
If the remaining cases are indeed due to #1093 then I think we can close this issue. Otherwise, please do post a small repro case.

[2020-11-16 11:30] asheeshgrwll opened #1103 "Hi There, I just updated Moq package from version 4.14.7 to version 4.15.1 and noticed that it broke Unit Tests for my projects. Kindly look into this matter. Thanks in advance, Regards, Asheesh Agrawal"
Hi There, I just updated Moq package from version 4.14.7 to version 4.15.1 and noticed that it broke Unit Tests for my projects. Kindly look into this matter.
Thanks in advance.
Regards,
Asheesh Agrawal

[2020-11-16 11:52] #1103 closed, assigned to nobody

[2020-11-16 11:54] stakx commented on #1103
I left my crystal ball at home, so you'll need to be more specific and provide a minimal repro.

[2020-11-17 11:42] Onkelborg commented on #1102
I didn't look that much into it, it's not related to the change here though, and by making a few adjustments mentioned in the other issue, I got those to work.

However, I do think that major changes like done in this issue are a bit troublesome, but I don't see a "good" solution - the idea of adding an overload with what behavior to expect was simply an idea of a solution from my side. I'm perfec

[2020-11-17 11:42] #1102 closed, assigned to nobody

[2020-11-17 14:34] stakx commented on #1102
@Onkelborg I agree that breaking changes are not pleasant and should be avoided. The best solution would be to get things right from the start. Where that goes wrong, the next best thing is probably to increase the major version so that automatic package updates don't randomly break code (i.e. semver); unfortunately that is not an option because this project is bound to major version 4. So I try t

[2020-11-18 13:08] mteknight opened #1104 "Setup with `in` parameter fails for generic methods"
I am trying to setup a method with **Moq 4.14.0** in a **.NET Core 3.1** solution. This method has a last `CancellationToken` parameter with the **in** modifier, as follows:

[code]

I have done some testing and it fails because it is generic. I have tried adding a similar non-generic method to the interface and then mocking works just as expected:

[code]

Naturally, the exception I am getting is

[2020-11-18 19:18] stakx commented on #1104
Duplicate of #988. That's due to a long-standing bug in the CLR. Not much we can do at this time. See the linked issue for further info. (It appears this will be fixed in .NET 6.)

[2020-11-18 19:18] #1104 closed, assigned to nobody

[2020-11-19 04:45] mathew-odwyer opened #1105 "[FEATURE REQUEST] Implicit Type Casting from Mock to Object?"
I always find myself doing something like the following:

[code]

and then realizing I have to change `foo` to `foo.Object` in `Bar`'s constructor. Personally, I think it would be a great idea to allow implicit casting from `Mock<IFoo>` to `IFoo` 😸

[2020-11-19 07:05] stakx commented on #1105
Duplicate of #1097. See there for an explanation why this won't work.

[2020-11-19 07:05] #1105 closed, assigned to nobody

[2020-11-19 08:43] TooJooGoo opened #1106 "Allow Setup on extension methods"
Hi,

I'am working for a major company. My job is to port our mocking-framework, currently written in RhinoMocks, over to Moq.

With RhinoMocks we are able to Stub/Expect on extension methods.
With Moq unfortunately the Setup on extension methods is unsupported, throwing an
"System.NotSupportedException" expection.

At the moment this deficit is a show-stopper for us, because we have tons of DLLs w

[2020-11-19 09:45] stakx commented on #1106
No. When Moq creates a mock object, it does so by creating a subclass / implementing class of the mocked type, then it overrides all overridable methods to forward calls to setups. Since extension methods are static methods sitting in static classes, it's impossible to override them in any way.

From what I remember, Rhino Mocks sort-of supports this scenario in the sense that extension methods of

[2020-11-19 09:45] #1106 closed, assigned to nobody

[2020-11-24 21:02] alejandromoncayo opened #1107 "moq is not compatible with System.Threading.Tasks.Extensions 4.5.3 or 4.5.4"
Nuget gallery dependency states it should be compatible:
https://www.nuget.org/packages/Moq/4.15.1
"System.Threading.Tasks.Extensions (>= 4.5.1)"

But on a project with System.Threading.Tasks.Extensions 4.5.3 or 4.5.4 it fails with the following error:
 Message:
    Initialization method Trizetto.Cap.Application.Tests.Cache.CacheServiceTests.Setup threw exception. System.TypeInitializationExceptio

[2020-11-25 09:40] stakx commented on #1107
Seems like they'll never learn to leave the bloody assembly version alone. 😠

@alejandromoncayo have you by any chance looked at older versions of that assembly? I'm curious whether the version has been steadily increasing or whether there were instances where they went back / reset to a all-zeroes assembly version after increasing the build number like here.

Because if increasing the build numbe

[2020-11-25 14:58] alejandromoncayo commented on #1107
Seems they decided to make this change permanent , as I see all versions from 4.5.0 to 4.5.2 had the same 4.2.0.0, but both 4.5.3 and 4.5.4 have 4.2.0.1.
The 4.5.3 change was on July 8, 2019.. so it seems they are sticking to the new format.

[2020-11-25 20:49] stakx commented on #1107
Resolved by #1108.

[2020-11-25 20:49] #1107 closed, assigned to nobody

[2020-11-27 16:48] CeesKaas opened #1110 "Adding a setup looks like it became an O(n*n) operation since #984 was merged"
I don't think this will be an issue for many users but in one of our tests we added 3000 setups to a mock and after updating from 4.13.1 to 4.15.2 the test time went from <10 seconds to over 14 minutes

[2020-11-27 16:57] stakx commented on #1110
What led you to the assumption that this slowdown was caused by #984, if I may ask? Understanding this might help looking into that matter.

[2020-11-27 21:56] CeesKaas commented on #1110
in public void Add(Setup setup) of SetupCollection the call this.MarkOverriddenSetups(); was added

that method loops through all items already in the SetupCollection

[2020-11-27 22:13] CeesKaas commented on #1110
for a very basic reproduction i used :
[code]
with Moq version 4.13.1 this program takes 273ms (on my machine)
with Moq version 4.14.0 it takes 6:28 minutes

[2020-11-27 22:36] stakx commented on #1110
OK thanks. I'll look into it.

Wouldn't that make it 2n (as opposed to n<sup>2</sup>)?

[2020-11-27 22:42] CeesKaas commented on #1110
you could be correct i'm not fully up to speed with the big O notation i had 2 loops in my mind (the for loop around the call to setup and the for loop in MarkOverriddenSetups) so the setup add went from O(1) to O(n) probably

[2020-11-28 10:11] CeesKaas commented on #1110
I've create PR #1111 with a potential fix

[2020-12-01 17:15] Sergeir1 opened #1112 "TypeNotMockable Exception"
Can the Moq Gaurd class exception below also return the type name? it would be very helpful when mocking objects that take multiple constructor parameters.

		public static void IsMockable(Type type)
		{
			if (!type.IsMockable())
			{
				throw new NotSupportedException(Resources.TypeNotMockable);
			}
		}

[2020-12-01 19:13] stakx commented on #1112
Doesn't the stack trace already point at the code location where you're trying to instantiate a mock?

But yes, I suppose we could do that. Feel free to submit a PR.

[2020-12-07 12:22] IPCA69 opened #1113 "Mock class with private constructor"
I'm trying to mock a class with a private constructor, it this possible?

[2020-12-07 13:30] stakx commented on #1113
No. If no constructor is accessible to a subclass of your type, then that type cannot be mocked.

[2020-12-07 13:30] #1113 closed, assigned to nobody

[2020-12-07 14:13] IPCA69 commented on #1113
Thanks, for the kick response.

[2020-12-08 18:52] Lyra2108 opened #1114 "System.InvalidOperationException because of call to Verifiable in MockSequence after 4.14.0"
## Failure description

I updated Moq from **4.13.1** to **4.15.2**. This causes some of our tests to fail with the following exception:
`
System.InvalidOperationException : This call to 'Verifiable' will have no effect because conditional setups are ignored by both 'Verify' and 'VerifyAll'. This might indicate an error in your code.`

This exception seems to be added with [**4.14.0**](https://git

[2020-12-08 19:59] stakx commented on #1114
Thanks for reporting. This appears to be a regression introduced by db0f208e8. I'll look into it soon.

[2020-12-11 09:08] Code-Grump opened #1117 "Return matched invocation from `Verify`"
When doing more complex verification, particularly where complex objects are passed to methods, I want to be able to examine the arguments passed to a method in more detail.

Currently I can use the `Invocations` collection on the mock to find the relevant invocation. In scenarios where multiple invocations have been performed on the mock, this requires doing a search over the collection to find t

[2020-12-11 09:26] #1112 closed, assigned to nobody

[2020-12-11 09:37] stakx commented on #1117
There are a few things, apart from this being a breaking binary change, that I don't like about this:

* (The method should return a collection, not a single invocation.)

* It breaks the principle of command/query separation. There may be precedents in Moq's API but we shouldn't add more to them if possible.

* IIRC, verified invocations may belong to a mock other than the one on which `Verify` i

[2020-12-11 10:18] Code-Grump commented on #1117
I respect the desire to keep `Verify` as a pure command.

Most of my assertions follow the structure:

- The method should have been invoked with one or more *key* arguments (often literal keys 😊)
- Now I know the invocation happened, I want to verify the other arguments passed to the method are appropriate.

As an example, assume I am testing some kind of command-processing system. I want to know

[2020-12-15 17:07] djseng opened #1118 "Verify is not capturing a classes state at the time of invocation."
I expect this test to pass:

[code]

The first `Verify` call fails, output says that `Value == "B"` was executed twice.

[2020-12-15 19:59] stakx commented on #1118
This is by design. Moq observes the usual .NET equality rules (`object.Equals`), so by default,  reference types are compared by reference/identity. You can either turn your type into a `struct`, C# 9+ `record`, or use a custom `Capture` matcher to inspect/copy state at the time of invocation.

[2020-12-15 19:59] #1118 closed, assigned to nobody

[2020-12-21 18:37] akorczynskikcura opened #1119 "Please document generic argument matching support for versions prior to 4.13"
We cannot upgrade to newer versions due to some incompatibility issue with Castle dependency. Please document how to match generic arguments prior to v4.13. Whether it is even possible to do something equivalent to
[code]

[2020-12-21 19:02] stakx commented on #1119
Feel free to help out... this is an open-source project, not a free support service. :wink:

That being said, back to your actual question: Note that `It.IsAnyType` is not actually needed in a many simple cases. Often, you can just use `object` as a type argument when setting up a method; since all values in .NET are convertible to `object`, that might suffice to match anything.

`It.IsAnyType` or

[2020-12-22 09:00] akorczynskikcura commented on #1119
Thank you. There you go, I contributed that to quickstart page ;) Feel free to update if needed.

[2020-12-22 10:57] stakx commented on #1119
Looks great, thanks @akorczynskikcura! :+1:

I did make a few minor changes, most notably moving the `object` part before the `It.IsAnyType` part, first because it will work for older Moq versions, too, and more importantly, because it's the simpler & better performing solution and should be tried first.

Thanks for contributing!

[2020-12-22 10:57] #1119 closed, assigned to nobody

[2020-12-28 17:43] stakx opened #1120 "`mock.Invocations.Clear()` violates self-consistency of inner mocks"
The second of the following two tests fails. This demonstrates that `mock.Invocations.Clear()` can lead to inner mocks becoming inconsistent.

[code]

By "inconsistent", I mean that there will be setups claiming not to be matched (`setup.IsMatched == false`) while at the same time, there are invocations that were matched by that setup (`invocation.MatchingSetup == setup`). The following condition

[2020-12-28 17:54] stakx commented on #1117
You can use `Capture.In` together with `Verify` to "batch-extract" arguments of a specific parameter in a type-safe way:

[code]

#968 taught me that little trick. 😃

[2020-12-28 22:11] #1110 closed, assigned to nobody

[2020-12-28 23:55] stakx commented on #1114
It appears we need to undo #997 in order to fix this regression.

[2020-12-29 00:05] #1114 closed, assigned to stakx

[2020-12-31 11:34] bhuvesh321 opened #1124 "Cannot implicitly convert type 'System.Threading.Tasks.Task<SomeType>' to 'System.Threading.Tasks.Task<Moq.It.IsAnyType>'"
I am using the following setup to mock a generic method

[code]

How to solve this?

[2020-12-31 17:23] stakx commented on #1124
TL;DR: See the first code block below.

First, let's look at why you need `It.IsAnyType` at all.

In theory, any type in .NET is convertible to `object`, so if you set up `GetDataAsync<object>` instead of `GetDataAsync<It.IsAnyType>`, your setup will still trigger for any type argument.

However, that is wrong because the static typing then suggests that it is sufficient for your `.Returns` callba

[2021-01-04 19:37] #1124 closed, assigned to nobody

[2021-01-05 22:36] Code-Grump commented on #1117
I tried this approach and it works pretty well, except my scenarios typically want to deal with exactly one capture, not a collection. However, I can't think of any syntax that would be simpler which is not forbidden by expressions (such as assigning to an out or ref parameter).

[2021-01-06 10:29] stakx commented on #1117
@Tragedian you could create some kind of helper around a `CaptureMatch<>` matcher, say:

[code]

Then use it as follows:

[code]

I'll leave it up to you to decide whether that's better than capturing into a collection using `Capture.In`.

[2021-01-06 10:31] stakx commented on #1117
Having said that, let us close this issue. I think you've got a reasonably clean way of doing what you need to do without inspecting `IInvocation`s manually, and without us having to change the signature of existing `Verify` methods. Let me know in case I've still missed something.

[2021-01-06 10:31] #1117 closed, assigned to nobody

[2021-01-07 23:33] michael-baker opened #1128 "Performance with large interfaces"
When upgrading from Moq 4.10.0 to 4.15.2 and mocking an interface with thousands of methods the cost of creating the runtime mock is significant which slows down test runs. Yes I know that god objects are a code smell.... :)

The most expensive call is `GetInterfaceMap` via `GetImplementingMethod`: https://github.com/moq/moq4/blob/9fcf8a0c214dc6cdcaee813b0623e7c3f121924c/src/Moq/Extensions.cs
whic

[2021-01-08 00:40] stakx commented on #1128
Your use case might have revealed a potential performance problem, but having an interface with thousands of methods isn't exactly the most common use case (how on Earth would you ever implement that monstrosity by hand?!) so I don't think we should rush a cache into Moq without taking a closer look. A cache should be among the last options to consider, not the first.

IIRC, `GetImplementingMethod

[2021-01-14 19:35] mujdatdinc opened #1129 "Property indexers raises ' System.Reflection.AmbiguousMatchException: Ambiguous match found.' exception."
Property indexers raises ' System.Reflection.AmbiguousMatchException: Ambiguous match found.' exception.

[code]
[code]
Using the class above, after SetupAllProperties are called  `Value` raises the exception in [line](https://github.com/moq/moq4/blob/3f7dff8b9dc5d573c500dba1c772b7bde708203b/src/Moq/Interception/InterceptionAspects.cs#L203).
This line should call `GetProperty(name,new Type[0])`  w

[2021-01-14 20:13] stakx commented on #1129
Interesting find! Are you sure that's the correct line of code? After all, `type.GetProperty` is looking for properties, not for methods. I would expect that method to identify properties through their own metadata and not through their accessor methods...?

[2021-01-14 20:16] mujdatdinc commented on #1129
VB can create indexer properites. C# can do it as  a method. I fixed it in my local and my tests are working.

[2021-01-15 09:04] mujdatdinc commented on #1129
I created the unit test and fix.
[ mujdatdinc:issue/1129 ](https://github.com/mujdatdinc/moq4/tree/issue/1129)
I am changing the initial post for details.

[2021-01-16 16:34] stakx commented on #1129
@mujdatdinc, ah yes, that makes sense now! :+1:

Would you like to submit a PR with your bug fix?

If so, it would be great if you could do the following (as explained in more detail in the [contribution guidelines](https://github.com/moq/moq4/blob/main/CONTRIBUTING.md#submitting-a-pull-request-pr)):

* Add your repro to `tests/Moq.Tests.VisualBasic/IssueReports.vb` like you did in your commit. (P

[2021-01-17 00:00] mujdatdinc commented on #1129
Thanks. I send the PR.  Hope its ok.
Actualy I have one more bug that breaks some of  our unit tests. I fixed with work around but work around its annoying. I will open when i have time.

[2021-01-17 01:05] #1129 closed, assigned to mujdatdinc

[2021-01-17 17:48] stakx opened #1132 "Callback validation too strict when setting up a task's `.Result` property"
[code]

Both of these setups should work. In practice, however, only the first one will succeed, and the second one will fail with a callback validation error:

(As an aside, we could format the type names in that error message nicer, too.)

[2021-01-17 18:50] #1132 closed, assigned to stakx

[2021-01-27 13:49] jenkinsonc opened #1134 "Moq.dll shows up as uncovered code in Visual Studio as of v4.16"
I previously was using v4.14.7 and recently upgraded to v4.16. When I run my unit tests as "Analyze Code Coverage", moq.dll shows up as one of the assemblies, with 1220/6719 blocks covered. While I can create a CodeCoverage.runsettings file to specifically exclude it and change our pipeline to exclude it as well, the desired behavior is that of the prior version of Moq (and other libraries I inclu

[2021-01-27 18:12] stakx commented on #1134
Well, I don't know why code analysis would analyze a third-party assembly in the first place,  instead of just your source code. I dare say this is mostly an issue with your project's configuration, and not with Moq.

What would one have to do to reproduce this?

[2021-01-27 18:43] jenkinsonc commented on #1134
It's very possible is project configuration, but like I said it was ignoring moq in version 4.14.7 and now includes it, and doesn't include other third party assemblies even after updating them. I'm in Visual Studio 16.8.1, my unit test project is a .NET Core 3.1 project using the Microsoft.VisualStudio.TestTools.UnitTesting library for testing. I've got Moq added only to my unit test project.

If

[2021-01-27 19:28] stakx commented on #1134
I'm pretty sure this change stems from the change made in #1098 with regard to how we distribute Moq's PDB file; see https://github.com/moq/moq4/pull/1098#discussion_r520169236.

I think it is reasonable to have to configure code analysis for a specific project to a certain extent. That being said, I find this behaviour of VS code analysis somewhat unfortunate, I would have expected there to be so

[2021-01-27 20:45] siprbaum commented on #1134
Could it be that "Just my Code" is not working at and therefore also the coverage is wrong?
At least there is some issue in https://github.com/nunit/nunit/issues/3745 which tells that debuging a unit test with "Just my Code" enabled still steps into the nunit framework code. The issue seems to be related to embedding the symbols via

[code]

[2021-01-27 20:49] stakx commented on #1134
@siprbaum If I understood the OP correctly, this is about code analysis, not about debugging. I only mentioned the "Just My Code" setting (which AFAICT targets debugging exclusively) because its analog for code analysis would appear to be really handy in the OP's situation.

[2021-01-27 21:49] siprbaum commented on #1134
My point here was that Visual Studio has - according to the issue I referenced - a problem when debugging that it considers assemblies with embedded symbols as your own code. If the same logic to detect if  "is this your code" is used when gathering the  code coverage, it would explain why it gets confused and no longer filters out the Moq assembly from the coverage results.

But I agree that this

[2021-01-27 21:52] stakx commented on #1134
My apologies @siprbaum for misunderstanding your post. That's a reasonable guess.

[2021-01-28 05:45] ChrTall opened #1135 "Create Mock of IDataProtectionProvider"
I am trying to create a Mock object of IDataProtectionProvider, which I use in my repositories to encrypt sensitive data.
[code]
This throws the following exception:
[code]

Can you give me advice how to solve my issue?

[2021-01-28 06:01] kzu commented on #1134
hm... I'm not aware of symbols embedding being a cause for a difference in code coverage analysis 🤔

[2021-01-28 07:34] stakx commented on #1135
Extension methods are static and therefore cannot be intercepted. Remove the last setup.

[2021-01-28 07:34] #1135 closed, assigned to nobody

[2021-01-28 17:15] kaminova opened #1136 "Mocking a method with "in" parameter of generic type"
Hello

I'm trying to mock a method with "in" parameter of generic type.
Repro:
[code]

I got an exception:

	`System.MissingMethodException : Method not found: 'Void Project1.Tests.ITester.Method(Project1.Tests.MyStruct ByRef)'.`

Am i missing something? (i use moq4.14.7)

[2021-01-28 17:27] stakx commented on #1136
Duplicate of #1104 and #988. I'm going to leave this one open because it recently occurred to me in https://github.com/castleproject/Core/issues/430#issuecomment-756309040 that a partial workaround may be possible. If so, we need to wait for a fix in DynamicProxy & then update.

[2021-01-28 17:29] stakx commented on #1134
@kzu I suppose you don't want to see us going back to `.snupkg`? 😃

[2021-01-28 19:09] kzu commented on #1134
Oh, no plz! FWIW, excluding an assembly from codeanalysis results is quite trivial. I don't know why anyone *consuming* Moq would want to see code coverage for it alongside their own assemblies.

So at most I'd just document the known issue and perhaps point to the docs on how to exclude assemblies from results?

[2021-01-29 23:15] haemmer-dave opened #1137 "Using object parameter in callback function in place of It.IsAnyType throws exception"
In my .Net Core 3.1 app (using Moq 4.16.0) I want to configure a callback on a mocked ILogger object during TestInit(), however, it fails with the following exception when I run the test:
[code]
The code for my minimal working example
[code]
and the test project looks like
[code]
According to [this comment](https://github.com/moq/moq4/issues/918#issuecomment-544188516) it should be possible to use

[2021-01-29 23:38] stakx commented on #1137
I suspect the problem lies not with the third parameter (`object`), but with the fifth (`Func<object, Exception, string>`). Note the nested position of where `object` is used in place of the unknown type.

I may have added support for nested type matchers in #1092, but I was focusing on `.Setup`&mdash;meaning that you should be able to write `It.IsAny<Func<It.IsAnyType, Exception,string>>()` inste

[2021-02-01 09:31] haemmer-dave commented on #1137
Using `object` for the fifth callback parameter works. Thanks for the hint. Implementing a mocked logger is not the way that I'd want to go right now.

Regarding the question why this signature of `ILogger.Log` is mocked so often, I guess it's because that this is the only signature which is _not_ an extension method and when using extension methods I, at least, get the following exception
[code]

[2021-02-01 12:53] stakx commented on #1137
I'm mostly surprised that people need to mock `ILogger` _at all_. I'm not very familiar with ASP.NET Core etc. but would have expected that loggers are optional. Mocking a logger would imply that important information ends up in logs, and has to be extracted from there, which I find strange.

I can take a look if it's possible at all to make callback parameter validation less strict in this situat

[2021-02-01 21:04] bfriesen opened #1138 "Improve error message when verification fails"
I would like to improve the verification error message for these two specific scenarios:

1. Currently, if you have a variable of type `LambdaExpression`, and you pass it in to the `It.Is<TValue>` static method, and verification fails, then the formatting of the lambda expression in the exception message isn't as good as it should be. Specifically, the representation of the lambda expression in th

[2021-02-01 21:44] stakx commented on #1138
Your contribution would be welcome @bfriesen!

I haven't yet had time to study your code in detail, but I expect that some further simplifications would be possible. To give you a few pointers:

1. We have a helper extension method [`stringBuilder.AppendNameOf`](https://github.com/moq/moq4/blob/74d58630f87b28e9bb7b3d810546473127a345de/src/Moq/StringBuilderExtensions.cs#L78) for appending type name

[2021-02-01 22:24] bfriesen commented on #1138
I saw that extension method, but I don't think it's relevant here, since I'm trying to _omit_ the name of the closure type, not format it better.

This looks similar to what I'm trying to accomplish. I'll look into this in greater detail later tonight/tomorrow and see if it could simplify my changes.

I don't think this is relevant either, since the captured local variables appear as instance fiel

[2021-02-02 10:36] dschuermans opened #1139 "Setup with generic args (nullable and non-nullable) always calls latest setup, not taking into account generic type argument of callee"
Hey,

I recently upgraded from Moq 4.10 to 4.16 and I started experiencing weird NullReferenceErrors in tests that **previously worked just fine.**

After some investigation, I managed to reproduce the issue with the following code:

[code]
My first call to `.DoSomething<MyTestEnum>("Two")` I would expect the first setup to be called. Instead, it is going for the second one, the one with the MyTes

[2021-02-02 11:16] dschuermans commented on #1139
Fiddled around with it, seems the following is potentially a step in the right direction _(and would severely reduce the amount of reflection code required to setup all my enums)_

[code]
The only "issue" with this, is that I'm getting a TargetInvocationException and not my custom thrown Exception("Failed to parse")
But on the plus side, it is available as the InnerException on the TargetInvocatio

[2021-02-02 15:30] bfriesen commented on #1138
I think actually using `EvaluateCaptures` isn't necessary and would be overkill. However, the way it detects closure member access is _definitely_ superior to the way I'd done it (`ce.Type.IsDefined(typeof(CompilerGeneratedAttribute))` vs `ce.Type.Name.StartsWith("<>c__DisplayClass")`). So I've updated my branch accordingly. I'll update the changelog and make a PR shortly...

[2021-02-02 18:17] #1138 closed, assigned to bfriesen

[2021-02-02 18:18] stakx commented on #1138
Great work! Thanks for your contribution!

[2021-02-02 18:29] stakx commented on #1138
P.S.:

I agree that the former check is nicer and means we won't need to implement a parser for those generated names. 🙂 And that particular check has worked well in practice, so far. That being said, here's some trivia you may find of interest:

While the former check may look nicer, the latter is potentially more accurate. As you may know, those horrible-looking generated names actually have a s

[2021-02-02 21:18] #1128 closed, assigned to nobody

[2021-02-02 21:50] stakx commented on #1139
I cannot help you with your original question, but this sounds like a problem with how Moq internally invokes the callback. We have the necessary infrastructure in place to avoid this problem, it appears we've missed one or two places where it should get used. I'll look into it.

[2021-02-02 22:14] stakx commented on #1139
There you go. In the upcoming Moq 4.16.1, the wrapping `TargetInvocationException` will be gone. Thanks for mentioning this problem!

[2021-02-02 22:19] stakx commented on #1139
P.S. You may want to create a type matcher that only matches enum types... perhaps something along the lines of:

[code]

[2021-02-02 22:35] stakx commented on #1134
I'm going to close this without taking any further action. @jenkinsonc if you do configure code analysis to exclude Moq, and you feel the procedure might be helpful to others, feel free to document it in the wiki (e.g. [here](https://github.com/moq/moq4/wiki/FAQ), for the time being, until we have a more official place for documentation).

[2021-02-02 22:35] #1134 closed, assigned to nobody

[2021-02-03 08:46] dschuermans commented on #1139
Ah cheers, didn't know such functionality existed 😃
And thank you for solving the issue with the exception.

Anyhow, while I managed to circumvent the issue I was having by using the mock from my second comment, I sure hope someone will be able to find the issue with the setups not being called correctly

[2021-02-03 12:26] stakx commented on #1139
My impression is that this problem is larger than just Moq. Nullable value types can at times be confusing, even more so when generic type parameters enter the picture.

The .NET compilers have certain coercion rules brtween some `TValueType` and `TValueType?`, and due to that, Moq likewise needs to perform such coercions (e.g. [here](https://github.com/moq/moq4/blob/0ddfdb89cd6d4641688cceaae0746e

[2021-02-05 01:18] helderjgoncalves opened #1142 "TypeLoadException: Internal method from another assembly does not have an implementation"
Work State
------------------------
**Moq version**: 4.10.0.0 (C#)
**TargetFramework**: net5.0

I have the following interfaces in the assembly `ProjectA`:

[code]

Then in another project, `ProjectB`, that consumes `ProjectA`, I just have visibility to `Method_1`.  That's fine and everything seems to work. Except for tests that are failing.

In `ProjectB` I have another interface that inherits fr

[2021-02-05 07:41] stakx commented on #1142
Initial suspicion: possibly related to / caused by the same underlying problem as #991.

[2021-02-05 10:48] helderjgoncalves commented on #1142
Are you sure @stakx? I just added the stack trace, and it seems to be quite different from #991.

[2021-02-05 11:21] stakx commented on #1142
No, I'm not yet sure. (That's why I wrote "initial suspicion", it was more of a semi-informed guess aka gut feeling.) You can ignore my above post, it was mostly a reminder for myself for when I get time to look at this in detail. 🙂

[2021-02-09 14:16] Tarakeswarab opened #1143 "How to mock the this.context.Database.BeginTransaction() in Asp.net Core?"
How to mock the this.context.Database.BeginTransaction() in Asp.net Core?

Unable to mock the Begin Transaction in EF.

[2021-02-09 14:55] stakx commented on #1143
@Tarakeswarab this issue tracker's focus is on developing Moq 4. We occasionally answer usage questions if it appears as if a problem could be caused by e.g. a bug or limitation in Moq. However, you're better off asking pure usage questions on sites such as Stack Overflow. You'll find a much bigger audience there.

[2021-02-09 14:55] #1143 closed, assigned to nobody

[2021-02-17 11:08] Helco opened #1144 "Custom formatter for error messages"
Right now when Moq builds an error message containing values, these values are formatted by a regular `.ToString()` which leads to error messages like below. The problem I currently have is that I would like to know in detail what this mysterious second parameter actually contains. It would be great if I could e.g. register a callback that formats external types into a string containing useful inf

[2021-02-26 21:51] stakx commented on #1142
@heldergoncalves92 &ndash; in case you haven't solved this yet yourself, you'll need to add the following somewhere in your `ProjectA` (the project that defines `IView`):

[code]

Alternatively, add a default implementation for `InternalMethod` directly in the interface, instead of only declaring it.

Reason: It isn't possible for DynamicProxy (the proxying library on top of which Moq 4 is built)

[2021-02-26 21:51] #1142 closed, assigned to nobody

[2021-02-26 22:13] stakx commented on #1144
This suggestion has popped up once or twice in the past, see e.g. #84. We still haven't done a whole lot about this since: we exposed `mock.Invocations` in #627 so that one could inspect invocations and format them however one wishes, but that's about it. This doesn't cover the particular error message you've shown above.

There's room for improvement regarding Moq error message quality, and I can

[2021-03-01 10:46] mrkaarel opened #1145 "Intermittent System.TypeLoadExceptions and System.Security.VerificationExceptions"
After upgrading our solution from .NET Core 2.1 to .NET 5 we have seen intermittent (about one failed run in every 6-7 build server test runs) System.TypeLoadExceptions and System.Security.VerificationExceptions with the following messages:

System.Security.VerificationException example:
[code]

System.TypeLoadException example:
[code]

The common part about all these exceptions is the error about

[2021-03-01 12:03] stakx commented on #1145
Hi @mrkaarel, thanks for reporting. We do need some kind of minimal repro code that exhibits this problem. Can you at the very least provide a full definition of one of the type/method definitions that the error message is about?

Also, what platform do your CI builds run on (.NET TFM / OS / CPU architecture)?

[2021-03-01 14:09] mrkaarel commented on #1145
Thank you for a quick reply @stakx.

So far we've been unsucessful isolating the issue to provide a minimal repro, the main reason being that it has only very rarely occurred on development machines.

Here is a type declaration for `ICustomerFinder`, mentioned in `Security.VerificationException` example above.
[code]

We are running our builds inside Docker container based on `mcr.microsoft.com/do

[2021-03-01 16:06] stakx commented on #1145
And you're saying the problem only started appearing after you upgraded to `net5.0`? Makes me wonder if it would vanish if you downgraded to `netcoreapp3.x` _without_ changing any NuGet package versions. If so this could indicate a problem in the runtime &mdash; especially if there is absolutely nothing exotic about your types, e.g. them being internal and you using `[InternalsVisibleTo]`, them be

[2021-03-01 16:48] stakx commented on #1145
I've searched for this issue and it seems you're not the only one who experienced this. Possibly related: https://github.com/dotnet/runtime/issues/45600.

[2021-03-02 07:36] mrkaarel commented on #1145
Thank you for looking into it.

I have looked at the referenced dotnet/runtime issue before, but it seems different in a way that it has a specific repro that always fails whereas our problem only occurs sometimes (some race condition, or something else related to order things are executed?).

Yes, for us the issue started after the upgrade. Although during that upgrade there were many other notab

[2021-03-03 00:21] computamike opened #1146 "NuDoq API documentation seems broken"
the nudoc site linke (http://www.nudoq.org/#!/Projects/Moq) page seems broken.

![image](https://user-images.githubusercontent.com/464876/109733017-32b63b80-7bb6-11eb-89a6-2fbfbfe1fbf0.png)

Searching for moq returns no results.

[2021-03-03 01:07] stakx commented on #1146
Yep, that's a well-known problem; see #1090, #1086, #1023, #354.

[2021-03-07 15:33] stakx commented on #1136
Small update: It appears that updating to .NET 6 (once released) will take care of this problem. The issue described above is no longer reproducible on [.NET 6 Preview](https://dotnet.microsoft.com/download/dotnet/6.0).

[2021-03-07 15:39] stakx commented on #1104
Small update: It appears that updating to .NET 6 (once released) will take care of this problem. The issue described above is no longer reproducible on [.NET 6 Preview](https://dotnet.microsoft.com/download/dotnet/6.0).

[2021-03-13 22:46] Fqadri opened #1147 "Test method throwing exception with C# 9.0 init keyword"
I have the following interface defined with C# 9.0

    public interface IState<TType>
    {
       string SomeId{ get; init; }
    }

When mocking in unit testing like `var state = new Mock<IState<string>>(MockBehavior.Strict);` it throws this exception

  Message:
    Test method `MyAssembly.StateTest` threw exception:
    `Castle.DynamicProxy.ProxyGenerationException`: There was an error in sta

[2021-03-13 23:11] stakx commented on #1147
Can you try running this on .NET 6 Preview and see whether that resolves this issue?

[2021-03-14 00:39] Fqadri commented on #1147
@stakx, unfortunately we don't have plans yet to migrate from current `.NET 5.0` framework. I can create a separate project just to try this out on `.NET 6 preview` but a fix/workaround for `.NET 5.0` would be good.

[2021-03-15 21:05] stakx commented on #1147
@Fqadri I ran a quick check. My suspicion turned out to be correct, this is yet another duplicate of #1136, #1104, and #988: [a .NET Reflection.Emit bug](https://github.com/dotnet/runtime/issues/25958) causes method signatures to be encoded incorrectly when the method signature contains modreqs (here: a [`modreq(System.Runtime.CompilerServices.IsExternalInit)` applied to the setter's return type](

[2021-03-15 21:24] stakx opened #1148 "`MissingMethodException` when using new C# language features (`in` parameters, `init`-only setters, etc.) with generic methods, or with members in generic types"
**TL;DR:** Upgrade to .NET 6+ (including Preview versions) to get your code working.

We've got quite a few reports lately of `MissingMethodException` happening for generic methods, or methods in generic types, when those methods make use of newer C# language features, e.g. `in` parameters, or `init`-only setters. I'm going to close all of those reports and pin this issue at the top of the issue t

[2021-03-15 21:25] stakx commented on #1147
I am closing this issue as explained in #1148.

[2021-03-15 21:25] #1147 closed, assigned to nobody

[2021-03-15 21:26] stakx commented on #1136
I am closing this issue as explained in #1148.

[2021-03-15 21:26] #1136 closed, assigned to nobody

[2021-03-15 21:26] stakx commented on #1104
If there's any further news on this, I'll post them in #1148.

[2021-03-16 01:48] Fqadri commented on #1147
Ok thanks.

[2021-03-23 12:27] informatorius opened #1149 "DefaultValue.Mock lazy initialization"
When I setup a deep mock which setup all interface methods and properties with default values
`var mock = new Mock<Interface>{DefaultValue=DefaultValue.Mock};`

then it takes more time than only setup a simple mock without all methods or properties
`var mock = new Mock<Interface>();`

Would it be possible to make deep mock setup faster in moq when it only initializes methods and properties when th

[2021-03-23 14:10] stakx commented on #1149
There should be no difference in performance between `new Mock<T>` and `new Mock<T> { ... }`, the assignments are neglibigle from a performance point of view. You're talking about code ("setting up a deep mock") that you're not showing here so it's hard to tell what the problem is.

[2021-03-31 12:46] jez9999 opened #1151 "Why is there no It.IsNull<T>?"
Moq has an `It.IsNotNull<T>` option when doing a `.Setup()` for a mocked object, so why is there no `It.IsNull<T>`?  Seems like a logical addition, and it would achieve the same as the rather more verbose `It.Is<T>(o => o == null)`.

[2021-03-31 14:23] stakx commented on #1151
@jez9999, simple answer: because it isn't needed. Instead of `It.IsNull<T>()`, simply use `null`. Constant values don't require any matcher. After all, you'd also use `42` instead of `It.Is<int>(x => x == 42)`, right?

[2021-03-31 14:23] #1151 closed, assigned to nobody

[2021-03-31 14:53] jez9999 commented on #1151
Don't know whether I'm missing something, but I don't see an overload of `Is` that just takes `T`.  Closest is `TValue, IEqualityComparer<T>`.

[2021-03-31 14:58] jez9999 commented on #1151
Just realized you meant to avoid using `It.Is` at all and replace the whole thing with `null`.  Yeah, that works.  Although, if you had 2 method overloads with 2 different reference types, how would Moq know which one was being referenced?

[2021-03-31 22:05] stakx commented on #1151
@jez9999 `null` doesn't carry any type information, it is implicitly convertible to any reference type or nullable value type. That being said, the C# compiler will pick a matching method overload. If overload resolution is ambiguous you may have to help out the compiler by casting it to the correct static type, `(ParameterType)null` &ndash; or `default(ParameterType)` if you prefer.

[2021-03-31 22:08] stakx commented on #1151
Regarding your other question, for the sake of completeness (even though you won't need it here), there most definitely _is_ an overload `It.Is<TValue>(predicate)`, it is defined [here](https://github.com/moq/moq4/blob/b7b07279c45c29a201399a7fa93764892422e687/src/Moq/It.cs#L139).

[2021-04-01 05:48] Naxemar opened #1152 "Setups are not working as expected after upgrade"
Hi everyone, from time to time we are performing a regular nuget update, and currently part of our previously working tests are not working any more. We have tried several times with different versions of a package and also we have waited for a fix but it never came. At the beginning we were not able to find a cause and to reproduce it. We have also seen similar issues closed because of inability

[2021-04-01 06:48] stakx commented on #1152
Hi @Naxemar, thanks for the complete report.

TL;DR: switch the order of your two setups so they're ordered "less specific" to "more specific".

Your setups are logically in the wrong order, they should be ordered from "least specific setup" to "most specific setup"... otherwise the less specific setup will shadow/override the more specific setup; Moq always chooses the latest matching setup.

By

[2021-04-01 06:59] Naxemar commented on #1152
Thank you @stakx for quick response, I understand. In our case it was not that obvious as some preparations are done in the initialize / base initialize / helpers and some preps are rather case specific and now it means that for such scenarios we need to duplicate the test preparations to keep Moq expected prep order. Sounds strange but if it must stay like that then we can handle that as well.

E

[2021-04-01 07:55] Artemigos commented on #1152
My knowledge is a little surface level here, but something feels wrong.

I don't like the assumption that `Create<ITest1Interface>` is a more general version of `Create<ITest2Interface>`. It's true for the interface types, but not for the methods that use those types as type parameters.

The important detail here is that generic type parameters are an equivalent of taking `Type` as an input parame

[2021-04-01 08:20] jez9999 commented on #1151
That takes `Expression<Func<TValue, bool>> match`, so requires saying `x => x == null`.

[2021-04-01 11:06] stakx commented on #1151
I see, you were referring to an overload `It.Is<T>(x)` where `x` is a `T`. Yes, that indeed doesn't exist, for the same reason that we don't need `It.IsNull`: you just write `x` instead of `It.Is<T>(x)` &ndash; no matcher required for fixed values.

[2021-04-01 11:21] stakx commented on #1152
@Artemigos, the `Type` analogy isn't useful here, because we're talking only about static (i.e. compile-time) types. `Type` is an entirely different beast, it carries type information as data at runtime. Not really applicable here at all, but maybe I misunderstand what you're trying to say.

[2021-04-01 12:59] Artemigos commented on #1152
I'm trying to compare this on conceptual level, maybe it was a little misleading.

The point I'm trying to make is this - generic methods take the types as input and run logic based on it, just like normal methods run logic based on values that were passed in. I can easily think of cases where `Method<BaseType>(...)` should give a different result from `Method<DerivedType>(...)`:

- `GetTypeName<T

[2021-04-01 13:47] stakx commented on #1152
@Artemigos your last code example should throw. (I suggest you run it and see for yourself.) This is only possible because Moq's setup API isn't fully type-safe.

I think you're mainly missing the fact that generic type arguments aren't inputs (in the sense of a constant value) like regular arguments. They are types and as such polymorphism needs to be considered. When you have a setup like this o

[2021-04-02 06:00] Artemigos commented on #1152
This supports my argument I think.

Polymorphism applies to types, not methods. Also, for generic types, polymorphism doesn't apply without the `in` and `out` keywords.

[code]

With this setup I can add `in` or `out` to the `T` on the interface. If I add `in` only casting `IInt<B>` to `IInt<C>` is allowed. If I add `out` only casting `IInt<B>` to `IInt<A>` is allowed. If I don't add anything both

[2021-04-02 18:45] stakx commented on #1152
@Artemigos:

Just for completeness' sake, you probably meant:

[code]

And beyond that, it's your responsibility to ensure that your setup's  `.Returns(...)` will produce a value of the correct (compatible) type, because (like I said above) Moq 4's setup API isn't (and IIRC unfortunately cannot be made) fully type-safe.

[2021-04-03 10:44] stakx commented on #1149
Closing due to inactivity.

[2021-04-03 10:44] #1149 closed, assigned to nobody

[2021-04-04 14:14] stakx commented on #1152
@Naxemar:

I'm not sure I understand your suggestion.

Is it the augmented chaining `x.Setup(...).Returns(...).Setup(...).Returns(...).Object` you're after? If so, we probably cannot do that without a breaking chance in the public API. What's probably worse is that it makes it less clear when you're configuring a setup, and when you're configuring the mock. Perhaps better not do allow this, the pr

[2021-04-04 14:14] #1152 closed, assigned to nobody

[2021-04-08 16:13] myurashchyk opened #1153 "Issue mocking Vb.Net class with overloaded property in base class"
vb.Net code:

[code]

C#  code:

[code]

throws exception
System.InvalidOperationException
  HResult=0x80131509
  Message=Sequence contains more than one matching element
  Source=System.Core
  StackTrace:
   at System.Linq.Enumerable.SingleOrDefault[TSource](IEnumerable`1 source, Func`2 predicate)
   at Moq.ExpressionExtensions.GetReboundProperty(MemberExpression expression) in C:\projects\moq4\s

[2021-04-08 18:20] stakx commented on #1153
Thanks @myurashchyk for reporting! I'll look into it.

[2021-04-09 18:15] Benixix opened #1154 "MissingMethodException when Verify Method with Array of ValueTuple"
To be honest, I'm not sure if you actually support this, but here is what I am trying to do:

I have a logger class that I want to mock and it has a method `Fatal` that I would like to verify.  I am having trouble matching the method signature and I think it is because it takes an array of ValueTuples.

[code]

Here is what I tried:
[code]

This compiles, but when I run my unit test it throws the

[2021-04-09 20:14] stakx commented on #1154
I cannot reproduce the error you're reporting:

[code]

When run, the above program causes the following exception (as it should):

[code]

Please provide complete, but minimal repro code; otherwise I'm going to close this issue in a few days' time.

[2021-04-09 20:42] #1153 closed, assigned to nobody

[2021-04-09 20:43] stakx commented on #1145
@mrkaarel, any news on this?

[2021-04-09 20:45] Benixix commented on #1154
@stakx thanks for the quick reply.  I appreciate you trying this out and the fact you couldn't reproduce is valuable information.  In trying to create a minimal repo code, somehow the error disappeared for me too.  I will dig a bit deeper and try and work out what exactly is causing the exception.

[2021-04-12 08:01] mrkaarel commented on #1145
@stakx Unfortunately no.

After digging some more we have found that:
* these exceptions are not caused by running multiple test assemblies in parallel – they can also occur when just running tests from one test project
* we did not get these exceptions when running just a handful of those failing tests (about 100 tests out of the total of ~5500 in the test project)
* we also did not get the excep

[2021-04-12 10:28] Benixix commented on #1154
@stakx it turns out that the reason I was getting this error, was because the NuGet package `System.ValueTuple` v4.5.0 was installed and in the `app.config` file there was also the following:

[code]

After I removed the assembly binding redirect from the app.config it all worked fine.  However, just to make sure I also uninstalled the NuGet package as well since I believe ValueTuples are now buil

[2021-04-12 10:28] #1154 closed, assigned to nobody

[2021-04-21 13:34] AP-Maptek opened #1156 "GetHashCode() issues when called from inside constructor of mocked class"
I was upgrading Moq on some test fixtures and found an odd suddenly failing test which I have created a minimal reproducible scenario below.

The following works in Moq 4.10.0 and earlier, but is broken in Moq 4.11.0 and newer including latest at time of writing 4.16.1.

[code]

The error message given is:

Message: Test method MoqTest.UnitTest1.TestMethod1 threw exception:
System.Reflection.Targe

[2021-04-21 13:51] stakx commented on #1156
Thanks for reporting. I'll look into it soon.

I suspect this is related to the way how Moq reconstructs a LINQ expression tree (`Expression<Action<TMock>>` ) from the delegate (`Action<TMock>`) passed to `SetupSet`. In earlier versions, Moq ran the delegate directly on the actual mock object. It would then record all calls happening on it as a trace used as the raw material from which to guess th

[2021-04-23 00:05] AP-Maptek commented on #1156
Thanks for your quick response.

We have worked around the issue for now by removing the mock on the get/set of this property so we can upgrade to 4.16.1.

This did mean we had to replace VerifySet to check the value as well as how many times the setter was called with an Assert.AreEqual.

If this is solvable in the Moq library it would be good to revert this change in the future.

[2021-04-23 20:21] stakx commented on #1156
@AP-Maptek, I've taken a closer look, and like I suspected, the problem lies in the LINQ expression tree reconstruction machinery. Your particular issue could be fixed (details on that follow further down), but in the meantime, if you don't mind using an `[Obsolete]` API (but one that's still functioning and unlikely to go away in future Moq 4.x versions), you could also sidestep that machinery as

[2021-04-29 10:12] svdsande opened #1157 "Moq setup mismatches generic methods with derived generic arguments"
Earlier this week I updated Moq and all of a sudden some of my unit tests failed. I have created a minimal reproducible scenario below.

The following works in Moq 4.13.1 and earlier, but is broken in Moq 4.16.1.
[code]

Executing the `TestMockRepository` unit test results in the following error message:
System.InvalidCastException: 'Unable to cast object of type 'Castle.Proxies.IRepository`1Proxy

[2021-04-29 10:30] KarloX2 opened #1158 "Mock an auto-derived interface with all getter-only properties having settings, too"
Hello,

suppose I have lots of interface each with many get-only properies like this:

[code]

and what I like to have for my unit tests is just a mocked object instance that allows me to set a fixed value for properties like Value. Well, I can achieve it by doing something like:

[code]

But it would be much easier to have something like this:

[code]

Makes sense? Possible?

Thanks!

[2021-04-29 12:45] stakx commented on #1158
No, sorry, this isn't feasible. Moq creates objects at run-time; it cannot create new static types at compile-time, so the best we can do is to make the C# compiler think that your mock has the same static type as the mocked type. It's impossible to magically add members to that static type.

Nothing can be done here, so I'll close this.

P.S.: Why do you need a setter anyway? Why not simply let t

[2021-04-29 12:45] #1158 closed, assigned to nobody

[2021-04-29 12:51] stakx commented on #1157
Have you already tried swapping the order of your two setups? `ISpecificRepository` is a more specific type than `IRepository<Specific>`, and because you should always order from least specific to most specific (due to Moq prioritising newer setups over older ones), you should set it up last.

(In this case, by "more specific", I mean that a `ISpecificRepository` is a subtype of `IRepository<Speci

[2021-04-29 16:55] KarloX2 commented on #1158
@stakx Thanks for you comment. I'm new to Moq and just start to understand how it works. I wasn't aware of the expression syntax  you mention in you PS. I guess it derives the setups by inspection the expression tree, is that correct? This is more handy than doing the .SetupGet() calls.

One more question: Suppose my IMyDto interface has not only one but 20 getterts and I'm happy with how I equipp

[2021-04-29 18:05] stakx commented on #1158
Yes. Simply set up the same property again. Moq prioritises newer setups over older ones, so if you have two setups for the same property, the second one "wins".

[code]

(Incidentally, this shows that you can mix and match the declarative `Mock.Of<>` API with the more imperative `Setup...` calls. `Mock.Of<T>` returns a `T`, you can get back to a `Mock<T>` via `Mock.Get()` and from there do `Setup

[2021-04-30 04:51] KarloX2 commented on #1158
Thank you very much for this detailed explanation!
I'm sure I will be able to solve it base on your recommendations.

[2021-04-30 08:57] svdsande commented on #1157
Thanks for the quick response 👍 The solution that you provided did work. I understand that it is important to structure the setups in a logical order, from least specific to most specific. Maybe there is also a possibility for a more robust solution? Since ordering the setups did work but this might be prone to errors

[2021-04-30 09:02] stakx commented on #1157
Can you explain why you think so?

[2021-05-03 10:10] svdsande commented on #1157
Right now I know that it is important to put the setups in the correct order. But from a developer standpoint, if for instance one of my colleagues doesn't know this he or she might be faced with an exception when creating new unit tests. I could imagine that the exception itself is not expected when looking at the current context. Therefore It would be convenient if Moq is able to return the desi

[2021-05-03 13:53] stakx commented on #1157
...then they should learn about it. If they get an exception that they didn't expect, or cannot make sense of, that is a good moment for them to start learning.

If you can steer them around difficult cases through conventions, that's of course great. But we developers need to know at least the basics of the tools that we rely on... there's no way around that.

Understand that the recent change th

[2021-05-04 12:21] KinsonDigital commented on #1148
@stakx Thanks for this post!!  It has given me some progress, but I still have some issues after I upgrade the projects to **NET 6.01.00-preview.3**.

I **was having this issue using the method signature below:**
`unsafe void BufferSubData<T>(GLBufferTarget target, nint offset, nuint size, in T data) where T : unmanaged;`

The problem was occurring for me as long as I had the combination of the me

[2021-05-04 13:04] stakx commented on #1148
@KinsonDigital could you please post this as a separate issue? Make sure to include minimal but complete repro code, along with the error message you received. Thanks!

P.S.: Due to a bug in Castle DynamicProxy, `nuint` could be problematic (see https://github.com/castleproject/Core/issues/546). If that's indeed the culprit, replacing it with `nint` might make the problem go away.

[2021-05-05 09:51] KinsonDigital commented on #1148
Absolutely!! I will also give the native int pointer change a shot as well.

Thanks!!

[2021-05-05 09:59] KinsonDigital commented on #1148
Just a quick update for transparency and to possibly help anybody out.  I changed the data type from `nuint` to `nint` and the problem still exists.

[2021-05-07 21:19] mikamins opened #1159 "Add new verbs for SetupSequence such that the default response for an exhausted sequence can be defined."
I'm attempting to upgrade from a very old version. Our codebase is relying on usage of SetupSequence that is no longer supported.

From https://github.com/moq/moq4/issues/467 by stakx:

Something like ReturnsByDefault would be great

[![Back this issue](https://raw.githubusercontent.com/devlooped/SponsorLink/main/docs/assets/img/separator.png "Back this issue")](https://www.devlooped.com/SponsorLi

[2021-05-11 08:29] stakx commented on #1159
It's been a while since I wrote that. Today, I'm not so certain anymore whether that would be a good addition to the public API; it would mean a duplication of every existing method under `SetupSequence` (`Returns` &rarr; `ReturnsByDefault`, `Pass` &rarr; `PassByDefault`, `Throws` &rarr; `ThrowsByDefault`, including all of their various overloads). Whenever possible, I try to argue against such AP

[2021-05-11 16:06] PerProjBackup opened #1160 "Returning list from mocked generic method fails"
Visual Studio 2019 Enterprise 16.9.4; Moq 4.16.1; xunit 2.4.1

Also posted to SO:
https://stackoverflow.com/questions/67475719/returning-list-from-mocked-generic-method-fails/67483514#67483514

I'm trying to unit test my AlbumData.GetAlbumsAsync() method. I mock the SqlDataAccess layer which is making a call to the DB using Dapper in a `generic` method.

This is my setup. The mock is not working.

[2021-05-11 17:19] mikamins commented on #1159
Thanks for the information, and I completely understand your concerns about the API explosion. I will look into the workaround with `DefaultValueProvider` to see if that unblocks the upgrade effort on our repo

[2021-05-11 19:46] stakx commented on #1160
This appears to be a pure usage question (this tracker focuses on the development of Moq), and since you've cross-posted this and got quite a few answers over at SO already, I'm going to close this issue.

[2021-05-11 23:49] AP-Maptek commented on #1156
Ah yes you are right, using that obsolete `SetupSet` however in the original test I generated the simplified example from it then hits the same issue in a `VerifySet` which looks like there is no equivalent work around.

We have ended up changing the test to call the get/set directly instead of mocking and just checking the expected value rather than also the number of times the setter is expected

[2021-05-12 07:29] stakx commented on #1156
(Update: The following probably won't work because there might not be any `Verify` overload accepting a `Expression<Action<TMock>>`.)

~~Well, starting from a setup/verification expression `mock => X` (a LINQ expression tree), you could derive a LINQ expression tree `mock => X = It.IsAny<TX>()` manually (it's just the compiler refusing to transform asssignment for us automatically, but it's suppor

[2021-05-12 07:30] #1156 closed, assigned to nobody

[2021-05-13 01:45] JoeMumm commented on #1160
@stakx this is not a pure useage issue it is a bug, please re-open.  It has been traced down to the use of `dynamic` as a generic.

      Mock<ISqlDataAccess> sqlDataAccessMock = new();
      sqlDataAccessMock.Setup(d => d.LoadDataAsync<AlbumModel, dynamic>
        (It.IsAny<string>(), new { }, It.IsAny<string>())).ReturnsAsync(_albums);

The mock is being passed into the `AlbumData` class, normal

[2021-05-13 08:29] stakx commented on #1160
@JoeMumm: This is not a bug.

This actually has nothing to do with `dynamic`. I may be simplifying a little, but `dynamic` is essentially the same as `object` once your code has been compiled. If you replace `dynamic` with `object`, you'll still see the problem.

The problem is instead caused by the usage of anonymous types, i.e. `new { }`:

Roslyn (the standard C# compiler) creates an anonymous t

[2021-05-13 08:29] #1160 closed, assigned to nobody

[2021-05-13 09:09] svdsande commented on #1157
Thanks for the clear explanation, it clarifies a lot for me! I agree that we as developers should understand the basics of the tools that we use. It is clear that this is not a bug but simply something that I misunderstood. Thanks for your help @stakx 👍

[2021-05-13 13:11] #1157 closed, assigned to nobody

[2021-05-21 10:07] haukelue opened #1161 "InvalidCastException when setup mixed enumerables"
Hi,
we tried to update our Moq-Nuget-package from 4.12.0 to a newer one. But due to a change in the Setup-Method we are stuck in the upgrade and can't use the newer version. I tried to simplify our testbase with the following code:

[code]

We tried to get rid of the Setup of IBase but it causes different tests to fail. Could you say how to solve the problem or how I can get rid of the error?

Gre

[2021-05-29 10:11] tonyhallett opened #1162 "ProtectedAsMock issues"
Does not work with auto mocking
![image](https://user-images.githubusercontent.com/11292998/120066401-0ce1eb00-c06e-11eb-8f9c-32201f27e095.png)
Due to https://github.com/moq/moq4/blob/a6fde8b6d79a7437bf642d115785b97f40779b6a/src/Moq/Protected/ProtectedAsMock.cs#L233

Does not work with virtual properties. ArgumentException
https://github.com/moq/moq4/blob/a6fde8b6d79a7437bf642d115785b97f40779b6a/s

[2021-05-29 11:19] tonyhallett opened #1164 "Missing setter functionality from ProtectedAsMock"

[2021-05-29 13:47] stakx commented on #1162
Could you please post a minimal, complete & verifiable repro demonstrating a use case where this error gets triggered? So that we know why we need a bugfix, and what exactly it is fixing. Thanks.

[2021-05-29 14:06] stakx commented on #1164
Hi @tonyhallett, thanks for raising this and the PR. At first glance, this looks like a plausible addition. I'll take a look as soon as I can.

[2021-05-29 14:47] tonyhallett commented on #1162
You can use the tests in my pull request that throw without the fix.

[2021-05-29 16:34] tonyhallett opened #1166 "`mock.Protected()` does not properly support indexers"
MoqProtected can be improved.  MoqProtectedAs does not suffer these issues.  I think that despite there being an alternative this should be addressed.

[SetUpSet](https://github.com/moq/moq4/blob/a6fde8b6d79a7437bf642d115785b97f40779b6a/src/Moq/Protected/ProtectedMock.cs#L128) ignores the value parameter and uses ItExpr.IsAny<TProperty>()
This is contrary to the [xml docs](https://github.com/moq/m

[2021-05-29 17:38] tonyhallett commented on #1162
To be precise

https://github.com/moq/moq4/blob/641821678a630e4d9a19bd883b6be4cafd5d56eb/tests/Moq.Tests/ProtectedAsMockFixture.cs#L154
https://github.com/moq/moq4/blob/641821678a630e4d9a19bd883b6be4cafd5d56eb/tests/Moq.Tests/ProtectedAsMockFixture.cs#L163

[2021-06-04 09:04] aniketiitg opened #1168 "Expected invocation on the mock should never have been performed, but was 1 times. when upgrading to the latest moq version 4.16.1 from 4.10.0"
I faced a similar issue when upgrading to the latest moq version 4.16.1 from 4.10.0

Earlier - the verify() of a method with "It.IsAny\<string\>()", when invoked with parameter null -> This scenario was considered Negative.
serviceMock.Verify(x => x.SomeMethod(<It.IsAny\<string\>()), Times.Never)
passes when -
SomeMethod(null)

Now with the current version 4.16.1,  passing null, the verify conside

[2021-06-07 16:07] stakx commented on #1161
Hi @haukelue. Sorry for the delayed response... I've been rather busy at work.

I've seen lots of similar reports here recently. Problem is that you are ordering your setups incorrectly. Moq prioritises newer setups over older ones. When two setups could apply to a call, the newer one is chosen.

Take your four setups:

[code]

Here, the very last setup effectively "shadows" all other ones because

[2021-06-07 16:23] #1161 closed, assigned to nobody

[2021-06-08 10:25] stakx commented on #1168
#### Test code:

[code]

#### Outcome with Moq 4.10.0

[code]

#### Outcome with Moq 4.16.1

[code]

#### Conclusion

While the error message format has changed a little, I cannot confirm your claim that there has been a fundamental change in behavior between versions 4.10.0 and 4.16.1 regarding whether or not `null` matches `It.IsAny<>()`.

What am I missing?

[2021-06-08 15:35] Rashmi-nw opened #1169 "High severity vulnerabilities identified with the dependency package used in Moq 4.16.1"
We are using Moq@4.16.1 which has a dependency on Castle.Core@4.4.0 . This has a dependency on NETStandard.Library@1.6.1.

NETStandard.Library@1.6.1 has a dependency on System.Text.RegularExpressions@4.3.0 which has a high severity vulnerability.

Info on High severity vulnerability :   Description: Regular Expression Denial of Service (ReDoS) - https://snyk.io/vuln/SNYK-DOTNET-SYSTEMTEXTREGULAREX

[2021-06-08 16:01] stakx commented on #1169
Thanks for the notification. Our (Moq's) hands are bound however, since there currently isn't any newer version of Castle.Core targeting a more recent .NET Standard.

Work is currently underway at https://github.com/castleproject/Core towards a new major release that will target .NET Standard 2.x, though that release hasn't happened yet.

I suppose in the meantime, you could try manually adding a

[2021-06-08 17:39] Rashmi-nw commented on #1169
Thanks @stakx  - I've manually added a dependency to use the latest version of System.Text.RegularExpressions.That has resolved the issue for now. And thanks for the update. :)

[2021-06-08 18:24] stakx commented on #1169
@Rashmi-nw, since you found a solution, I am going to close this issue. The only course of action for us will be to update our dependency on Castle.Core, and that'll happen anyway as soon as it becomes available.

[2021-06-08 18:24] #1169 closed, assigned to nobody

[2021-06-10 09:10] jonorossi commented on #1169
Sounds like a good solution. `Castle.Core` does not use the `System.Text.RegularExpressions` package so it won't break anything.

[2021-06-10 17:42] RobSiklos opened #1170 "Can't set up "private protected" properties"
I can set up protected properties, I can set up internal properties, and I can set up protected internal properties. However, I cannot set up properties which are the strict intersection of protected and internal (in C# called "private protected"). As a reminder, "protected internal" is the union of protected and internal.

Since protected and internal both work, I see no reason why "private prote

[2021-06-10 19:47] stakx commented on #1170
Like you said, `protected internal` is the union of the two: `protected` OR `internal`. `private protected` on the other hand  is the conjunction: `protected` AND `internal`. You only have access to such members from inside their own assembly, and only from their declaring type or a subtype or (IIRC) a nested type.

Outside the assembly where such members are declared, they're essentially the same

[2021-06-10 20:02] RobSiklos commented on #1170
@stakx I will have to disagree with you.

If I have a `private protected` member in assembly `A`, and assembly `B` is a friend, then that member is in fact accessible to derived types in assembly `B`, is it not? This is much different than `private`.

How is this any different for Moq? If I've got the `InternalsVisibleTo("DynamicProxyGenAssembly2...")` attribute on the assembly, thereby giving Moq

[2021-06-10 21:06] stakx commented on #1170
Ah yes, I believe you're correct. And, come to think of it, I suspect the reason why this currently doesn't work is a different one: support for intercepting `private protected` methods was added only recently to DynamicProxy (upon which Moq v4 is built); see https://github.com/castleproject/Core/issues/535. This enhancement will be released in DynamicProxy v5, once we update our dependency in Moq

[2021-06-10 21:17] RobSiklos commented on #1170
Thanks @stakx . Can you provide any idea of when DynamicProxy v5 will be released? Seems like there's hasn't been much activity there since March, and there aren't any open issues in the 5.0.0 milestone.

[2021-06-10 23:35] stakx commented on #1170
I cannot say. You best watch this or their repository's releases; I can assure you there'll be a Moq release very soon after DP v5 is published.

[2021-06-17 09:21] BrunoJuchli commented on #1145
This might be related to: #246
Which itself is an issue in Castle.DynamicProxy, the corresponding issue: https://github.com/castleproject/Core/issues/193

[2021-06-17 09:30] akshay-zz opened #1171 "Extension methods (here: ServiceProviderServiceExtensions.GetRequiredService) may not be used in setup / verification expressions."
Facing this issue when mocking `GetRequiredService`
Actual function
[code]
How I'm trying to mock the injection while testing.

[code]
Getting following error at last line of mock at run time
[code]

[2021-06-17 15:43] TsengSR commented on #1137
@stakx

Well, everything is injected via constructor, so its mandatory by default.

Also, the issue lies when one tries to use the Strict mode with auto mock Frameworks which will create a mock for every injected parameter of the system under test.

In Strict mode, if you don't have a Setup, it will fail.

But also there are cases where we want to make sure the logger is called, since logs are imp

[2021-06-17 16:41] stakx commented on #1137
Thanks for replying to my question. Makes perfect sense.

But it's not mandatory to inject a _mock_ logger, right? You could easily implement a do-nothing stub by hand and inject _that_.

(But sure, creating a throwaway mock object may end up being less work.)

Granted, I suppose that makes sense.

I wasn't aware that people unit-test their logging, I guess I learnt something new today. :-)

[2021-06-17 16:45] stakx commented on #1145
@BrunoJuchli, I cannot exclude that as a possibility; however, given that the issue reported here only surfaced after migrating to `net5.0`, it seems unlikely. Seems more probable to me that it's a new problem in .NET Core &ge; 5.

(Or at least I hope so. That other DynamicProxy issue was a beast. I'd hate to admit how much time I wasted trying to find its cause. 😆)

[2021-06-17 16:50] stakx commented on #1171
Yep, Moq doesn't support setting up extension methods, and there is nothing we can do to change that. You can only set up & verify overridable methods.

[2021-06-17 16:50] #1171 closed, assigned to nobody

[2021-06-18 06:00] jsayari opened #1172 "Setup a method with argument of interface type doesn't work when a not null instance is passed to that method"
I am trying to setup a method which accepts a parameter of an interface type. To make it clear suppose that I am mocking the following IFoo interface and its DoSomething method accept parameter of IBar interface:
[code]
Then setting up the IFoo mocking object as:
[code]
When calling DoSomething method of the moq object with null argument it works correctly and returns 10 as it was set up but when

[2021-06-18 06:32] #1172 closed, assigned to nobody

[2021-06-22 13:25] tonyhallett commented on #1162
@stakx repro provided.  These tests fail currently.  Fixed with #1163
[code]

[2021-06-22 13:31] tonyhallett opened #1173 "InSequence is not available for protected"
Given the following types it is not currently possible to combine them in a sequence.

[code]

This is currently not possible
[code]

[![Back this issue](https://raw.githubusercontent.com/devlooped/SponsorLink/main/docs/assets/img/separator.png "Back this issue")](https://www.devlooped.com/SponsorLink/github/issues/?s=devlooped)
[![Back this issue](https://img.shields.io/badge/backed-%240-EA4AAA?l

[2021-06-22 23:22] howcheng opened #1175 ""Expression is not an event add" when using .Raises()"
When trying to have a mocked method raise an event, I'm getting the error message "Expression is not an event add". The interface I'm using is a mess of inheritance and new versions of events, so maybe that's related, but here's a fiddle with a stripped-down version where you can see the error happening.

https://dotnetfiddle.net/kqhOln

Did I do something wrong, or is this a bug?

Thanks.

[2021-06-23 10:18] tonyhallett commented on #1162
Also fails for methods.

Adding method to INested
``
public interface INested
{
	int Value { get; }
	int Method(int value);
}

// This fails

[Fact]
public void Setup_can_automock()
{
	this.protectedMock.Setup(m => m.Nested.Method(1)).Returns(123);
	Assert.Equal(123, mock.Object.GetNested().Method(1));
}
``

Fixed with pull request

[2021-06-24 15:18] eccforgit opened #1176 "Need a better way to manage parent class child class relationships"
It would be nice to have a feature such that

`Mock<ParentClass>` can be substituted for `Mock<DerivedClass>`  Similar to the the way that `ParentClass` itself could be substituted for `DerivedClass`.  That way you can carry the mock with you in the abstract version (say in a list of `Mock<ParentClass>` es that contains multiple `Mock<DerivedClass>` types.

Another option here would be to create a

[2021-06-24 17:11] stakx commented on #1176
I'm having trouble understanding your request. Could you please elaborate?

[2021-06-24 17:11] tonyhallett opened #1178 "Feature - stubbing indexers"
Like SetupProperty

[2021-06-24 23:04] tonyhallett commented on #1175
When DoSomething is called the corresponding
MethodCall ExecuteCore will Execute the RaiseEvent Behaviour
which calls Mock.RaiseEvent

https://github.com/moq/moq4/blob/a6fde8b6d79a7437bf642d115785b97f40779b6a/src/Moq/Mock.cs#L688
[code]

There is similar code hit from SetupAdd which should add the handler to be called in Mock.RaiseEvent

https://github.com/moq/moq4/blob/a6fde8b6d79a7437bf642d11578

[2021-06-25 08:16] tonyhallett commented on #1175
All 3 events have accessors on the proxy

![image](https://user-images.githubusercontent.com/11292998/123393433-032ca400-d596-11eb-9118-6a0f6c7e623f.png)

[2021-06-28 13:20] stakx commented on #1175
@howcheng, thanks for reporting this issue. And thanks @tonyhallett for doing some preliminary investigating.

First, to simplify things a little, let's use a more minimal repro (derived from the original one above mostly through a process of elimination):

[code]

I've played around with this a bit, and the problem appears to be triggered by having two events of the same name but different signat

[2021-06-30 11:22] dariusz-wozniak opened #1179 "The type initializer for 'Moq.Async.AwaitableFactory' threw an exception: Could not load file or assembly 'System.Threading.Tasks.Extensions, Version=4.2.0.1"
Hi,

Recently, I started having errors when running tests on the Azure DevOps. The error I'm receiving is written below. Please note that me and none of my colleagues don't receive these errors locally.

Error:

Stack:

A few tech details:

- Project target: NET Framework 4.7.2
- Moq: 4.16.1
- Azure Devops Task - Visual Studio Test: 2.170.1
- Microsoft Test Execution Command Line Tool: 16.10.0
- N

[2021-06-30 11:27] jaak0b opened #1180 "When testing a method which overrides a method in the base class, the unit test always passes."
When I'm trying to mock a class that derives from another (none virtual) class the unit test always passes.
Lets look at an example where I think the bug can be seen clearly:
• We have two classes. Class B which has a virtual method (with the name AMethod() and ...
• Class A, which derives from B and overrides its virtual method.

• Both methods (so the virtual class in B and the method in A) thro

[2021-06-30 12:19] jaak0b commented on #1180
Closed.
I found a "fix" for the problem. The property CallBase needs to be set to true to avoid this behavior. :)

But one thing I'm wondering is, why does this property exist? And more importantly why does the unit test not fail?

[2021-06-30 12:19] #1180 closed, assigned to nobody

[2021-06-30 12:19] stakx commented on #1179
There have been many similar issues re: assembly versioning / binding redirects, they usually turn out to be a project configuration problem unrelated to Moq. I suggest you do a search for some possible solutions. I'm going to close this as off-topic; other than staying up-to-date with NuGet dependencies, there's not much we can do.

[2021-06-30 12:19] #1179 closed, assigned to nobody

[2021-06-30 12:35] stakx commented on #1180
Moq by default intercepts / stubs all methods that it can (that is, all overridable ones), which is why your original implementation gets overridden with one that doesn't really do anything (unless you set it up). So your `throw` no longer executes.

Because sometimes you don't want a full stub, but you may want to defer to the implementation from the mocked type (which yields a so-called "partial

[2021-06-30 12:43] jaak0b commented on #1180
Thank you for the detailed answer!

[2021-06-30 13:08] dariusz-wozniak commented on #1179
@stakx: I reviewed GitHub issues and StackOverflow threads for the Moq and other projects, but haven't found working solution.

One thing that is exceptional in case of that exception is that error is happening on the Azure DevOps context, not the local environment one.

[2021-06-30 14:18] dariusz-wozniak commented on #1179
As per above, can you please re-open the issue, @stakx?

[2021-06-30 14:52] benrobot opened #1181 "VerifyNoOtherCalls fails reporting issue with different mock when using factory pattern"
The code below passes unit tests successfully up to moq version 4.10.1. After that the code fails as described in the code.

I read through the release notes for version 4.11 and I didn't see anything to point to this change. In addition, the behavior is NOT expected (in my opinion) because the code is asking for `VerifyNoOtherCalls()` from a specific mock therefore I would NOT expect an error mes

[2021-06-30 14:56] stakx commented on #1179
No, this is more of an issue with NuGet's ridiculous versioning problems, it's not an issue caused by Moq. The only thing we _can_ do is updating the versions of Moq's dependencies (such as the one on System.Threading.Tasks.Extensions), but even if we don't, you should still be able to resolve the issue by configuring your project differently. (For example, depending on the targeted frameworks, yo

[2021-06-30 15:40] stakx commented on #1181
Yes, this situation is not ideal. Moq's current recursive verification algorithm is indeed problematic.

Since it is `mockOne` that gets verified, verification should only fail for unmatched setups that were actually configured on `mockOne`, and not on some other mock.

That is, the observed failure would be OK if you had instead done this:

[code]

(But it's not OK to fail `mockOne` verification

[2021-06-30 16:19] stakx commented on #1178
I think this capability &ndash; that is, a `SetupIndexer` method for stubbing indexers similar to what `SetupProperty` does for properties &ndash; is missing in Moq with good reason:

Consider auto-implemented properties in C#:

[code]

C# will automatically generate an anonymous backing field for that property. `SetupProperty` corresponds to that syntax and essentially does the same thing:

[code

[2021-06-30 16:40] stakx commented on #1173
We have been discussing possible futures / alternatives for sequences in #75 (and perhaps a few other issues that I don't remember right now). That issue has been around for a while and gone back to sleep... there has been no actual work regarding implementing the ideas expressed there.

For this reason, unfortunately, I think it's not the best time to bring `InSequence` to the protected APIs. We

[2021-06-30 16:59] stakx commented on #1176
Ah, I saw that your post was malformatted and some important bits weren't rendered. Fixed the formatting, now I think I understand what you're asking for.

IIRC the `IMock<>` interface was added with the intent to support co-/contravariance (never sure which one). It doesn't seem like that ever went anywhere TBH, compared to `Mock<>`, `IMock<>` looks far too incomplete to actually be useful.

I'm

[2021-06-30 17:04] #1176 closed, assigned to nobody

[2021-07-01 06:45] dariusz-wozniak commented on #1179
Sure thing, thank you for the info @stakx!

I will continue trying to resolve that.

[2021-07-01 07:11] bradykelly opened #1182 "System.CommandLine CLI parsing library won't call a method on a mocked object"
`System.CommandLine` is a package from MS for parsing command-line arguments. It fails to do this properly when asked to invoke a method on a mocked object.

With the following code in `ApplicationService`:
[code]
and this mocking code:
[code]
where `_builderService` and `_builderMock` are both `IBuilderService`, but `RunAsync` only works when `_builderService` is a real `BuilderService` and not a

[2021-07-01 07:28] stakx commented on #1182
It's a bit tedious having to piece together a repro from prose. Please post a minimal but complete code repro, otherwise there's nothing we can do to help.

[2021-07-01 07:57] bradykelly commented on #1182
I have since found out that using a stub with a string[] array passed as `args` has the same effect. I may have something wrong with my args setup so I will close this and wait and see before I open another one. Sorry about that.

[2021-07-01 07:57] #1182 closed, assigned to nobody

[2021-07-01 20:07] PiotrSzymczyk opened #1183 "Verify fails when multiple invocations with the same object modified between the calls"
When sut performs multiple calls to a mocked service with the same object (updated between the calls) the last invocation overrides all the previous ones:
[code]
Unable to verify both calls to a service with
[code]
### Steps to Reproduce
Issue reproduced [here](https://github.com/moq/moq4/files/6750475/Test.zip) (including unit tests)

### Expected Behavior
Both invocations can be verified by para

[2021-07-04 15:13] stakx commented on #1183
We get issues such as this one from time to time.

You said it yourself in this issue's title: it's the _same_ object.

 When Moq records an invocation (for later verification), it records precisely the objects/values passed to the invoked method; so for value typed parameters it records a (copy of the) value, and for reference typed parameters it records an object reference.

In other words, Moq

[2021-07-04 15:13] #1183 closed, assigned to nobody

[2021-07-04 15:23] stakx commented on #1168
Closing due to missing feedback. We cannot proceed without a repro.

[2021-07-04 15:23] #1168 closed, assigned to nobody

[2021-07-11 21:07] stakx commented on #1145
@mrkaarel shall we close this issue? There's nothing we can do without a repro, really. That other runtime issue I linked to above has apparently been fixed, I'm wondering if the reported problem might go away after upgrading to the latest version of the .NET runtime?

[2021-07-12 05:24] mrkaarel commented on #1145
@stakx Yes, thank you for the patience, let's close this.

For us the workaround was just to start running this project's tests non-parallel. I'll give it a quick try if anything has changed with the latest runtime.

[2021-07-12 05:24] #1145 closed, assigned to nobody

[2021-07-13 08:15] toppiovi commented on #1175
Here is another instance of Raise() failing when the base class event is hidden by a new generic child class event.
Interestingly, this issue was not present in Moq 4.5.3, but started occurring when updating to Moq 4.16.1
I hope providing this small example helps!

[code]

[2021-07-14 08:37] jerviscui opened #1184 "Parameter is invalid in Protected().SetupSet() method"
Hello, I found a bug?

[code]

In `Protected().SetupSe()` method, parameter "aaa" and "aa" is invalid, because at last the `saved` value is "aaa".
In `Protected().VerifySet()` method, `ItExpr` is invalid, will throw `Moq.MockException`:

Expected invocation on the mock once, but was 2 times: mock => mock.PrivatePropForTest = It.IsAny<string>()
Performed invocations:
   Mock<PropValue:1> (mock):

[2021-07-14 08:58] stakx commented on #1184
Thanks for reporting these two issues, @jerviscui. I'll look into it.

[2021-07-14 10:03] stakx commented on #1184
Regarding the first issue:

The cause for this appears to be that the second parameter to `SetupSet<TProperty>` (`value`) gets ignored &ndash; Moq always uses `ItExpr.IsAny<TProperty>()` instead:

https://github.com/moq/moq4/blob/a6fde8b6d79a7437bf642d115785b97f40779b6a/src/Moq/Protected/ProtectedMock.cs#L119-L132

Therefore, your second setup essentially shadows the former; it is matched for both

[2021-07-14 10:15] stakx commented on #1184
Regarding the second issue:

Turns out we have the same problem here, the provided `value` argument gets ignored, Moq simply uses `ItExpr.IsAny<TProperty>()` instead.

[2021-07-14 10:38] stakx commented on #1184
@jerviscui:

* If you'd like to submit a PR to fix these issues, below you'll find a draft for the code changes that are probably needed. (A PR should also include unit tests and a changelog entry, see [`CONTRIBUTING.md`](https://github.com/moq/moq4/blob/main/CONTRIBUTING.md#submitting-a-pull-request-pr) for details.)

* If you do not want to submit a PR, I'll apply the changes myself in a few day

[2021-07-14 14:45] jerviscui commented on #1184
Yes, I'm so sorry. I have a mistake.
Now, I know the latest `Setup()` overwrite the previous one. I used to think they worked at the same time by different `ItExpr`.

[2021-07-14 15:44] stakx commented on #1184
No, your code is fine. Your second setup does _not_ shadow the first, because it specifies a different argument. But because Moq currently ignores that argument, the second setup ends up shadowing the first setup anyway. This is an error inside Moq.

[2021-07-14 15:49] jerviscui commented on #1184
I am very grateful for your guidance and encouragement.

I'll try create a PR. I may not be as fast as you, you are the best.

[2021-07-14 16:07] jerviscui commented on #1184
`Protected().SetupSet()` ignores argument.
I think `Protected().SetupGet()` needs a argument, maybe.

Just like:

[code]

and `Protected().VerifyGet()`.

Just an idea of mine.

[2021-07-14 20:27] stakx commented on #1184
Nice to hear you're interested in contributing, @jerviscui. Take your time, we're not in a hurry.

No, I don't think so. Remember that properties are really just some syntactic sugar on top of a group of methods:

* a getter method, which does not have any parameters (and therefore `SetupGet` won't need one either); and
* a setter, which has one parameter for the new value (and therefore `SetupSet

[2021-07-15 02:53] jerviscui commented on #1184
You're right. My mind was in turmoil yesterday.  😂

`getter` does not need any parameters.

[2021-07-15 10:10] tonyhallett commented on #1184
I have already raised this [issue](https://github.com/moq/moq4/issues/1166) and provided a pull request.
The pull request is in draft status as I wanted to confirm if the current behaviour, "bug" , was ok to fix
https://github.com/moq/moq4/pull/1167

@stakx Would you like me to complete this pull request ?
Also https://github.com/moq/moq4/pull/1165 has had the changes that you suggested and i wait

[2021-07-15 10:41] stakx commented on #1184
@tonyhallett, my apologies. I got stalled on your PRs because there were quite a few of them all at the same time, and I got a little confused what each of them is attempting to do. I was plannig to look at all of them in a single setting, but haven't yet found the time for that... resource-wise, it's far easier for me to deal with a single PR at a time.

If your PRs indeed cover the same bugs rep

[2021-07-16 09:52] tonyhallett commented on #1184
@jerviscui I'd appreciate it if we proceed with mine as it covers more than just the bug identified in this issue.  The pull request took a bit of thought and time to craft.

[2021-07-18 07:12] jerviscui commented on #1184
Happy weekend!

I'm OK, listen to you @stakx .

I'll also try to do it, for study.

[2021-07-19 19:40] #1162 closed, assigned to nobody

[2021-07-19 19:55] stakx commented on #1162
@tonyhallett, my apologies if I appear a little dense regarding your issues and PRs. I simply haven't yet found the time to study them all in detail; if I had, perhaps I wouldn't have been quite as confused with my review comments. It's slowly coming together now. Thanks for being patient. :-D

[2021-07-19 20:17] stakx commented on #1166
@tonyhallett, would you be OK with...

* tracking the first part of this issue (the `value` parameter being ignored in `SetupSet` and `VerifySet`) in #1184 instead, and
* using this issue to only track the second part (missing indexer support)?

Then we can more precisely associate PRs with existing issues, and have them auto-closed separately via a _"fixes #..."_ comments.

[2021-07-19 21:09] tonyhallett commented on #1166
@stakx No problem.

The draft pull request has the missing indexer support

[2021-07-20 13:36] tonyhallett commented on #1178
Agreed but this pull request does it for n keys.

Regardless no problem.

[2021-07-20 13:36] #1178 closed, assigned to nobody

[2021-07-20 14:17] tonyhallett commented on #1173
Regardless of the issues detailed in #75 I cannot see why existing functionailty cannot be extended to protected mocks.
Without this functionality any sequence you are interested in that includes a protected method would require resorting to callbacks.

I cannot see the problem of deprecating InSequence for protected mocks if it is being deprecated for non protected mocks.  It would still be a sin

[2021-07-20 15:35] stakx commented on #1173
Of course it _can_ be added. And of course it's also entirely possible to add and deprecate it soon thereafter.

I'm just not sure if it's worth the time to actually do so.

[2021-07-20 15:50] tonyhallett commented on #1173
The pull request is just a modified copy of the non protected

[2021-07-21 14:02] marnu123 opened #1187 "Mock.Verify susceptible to reference type alterations"
Hello!

Firstly, great tool!  It's really helped me a lot so far, and I never go a day without it.

Summary:
When using reference types as parameters to mocked methods, and altering internal variables of parameter, calling Mock.Verify on the method can fail, because Mock stores the reference to the parameter, and not a copy of it.

Code setup:
[code]

Expected outcome:
The verification should succ

[2021-07-21 21:03] stakx commented on #1187
We get this report all the time. I'll let you use the search facility to find similar issues (along with my responses), I'll just say here that this behavior is by design (the usual .NET equality semantics apply) and it won't be changed.

[2021-07-21 21:03] #1187 closed, assigned to nobody

[2021-07-22 05:27] marnu123 commented on #1187
Perfect, thanks!  Then I know what to do.  I see one similar "issue" was reported and closed recently, so sorry about that. I'm not used to Github's structure yet, coming from an Azure DevOps background

[2021-07-22 07:23] jerviscui commented on #1184
Hi, @stakx
I found the functions are Ok, the bug is just not create the setter MethodCallExpression.
How about use `ToExpressionArg()` method directly:

https://github.com/jerviscui/moq4/blob/0b702e9e6177e4989f9b147d1e974f5dfc316631/src/Moq/Protected/ProtectedMock.cs#L128

[2021-07-22 07:47] stakx commented on #1184
@jerviscui, yes. Using `ToExpressionArg` is what I would do, too; see my suggested changes in [my post above](https://github.com/moq/moq4/issues/1184#issuecomment-879785485). @tonyhallett has also chosen the same approach in his PR (#1186).

[2021-07-22 08:20] jerviscui commented on #1184
Sure, I see.

I mean is, why must change method define `ToExpressionArg(ParameterInfo, object)` to `ToExpressionArg(object, Type)`,
How about use original `ToExpressionArg(ParameterInfo, object)` :

[code]

Are there hidden details that I don't know about?

[2021-07-22 08:31] tonyhallett commented on #1184
@jerviscui
ToExpressionArg in its original form only uses the Type ( ParameterType ) and so should be refactored accordingly.  The method can then also be used for other use cases - such as supporting indexers.

[2021-07-22 08:31] stakx commented on #1184
I'll try to keep it brief: Reflection is a complicated beast, and lots of things can go wrong. The less we have to rely on it, the better. In this case, `ToExpressionArg` doesn't really _need_ a `ParameterInfo`, it just needs type information. So by providing just that instead of looking up a parameter, we provide all the info the method needs without running the risk that looking up the setter me

[2021-07-22 10:28] jerviscui commented on #1184
OK, get.
Thankyou @tonyhallett @stakx

I have only considered doesn't throw exception, because method is checked by 'Guard.CanWrite()' in front.
Refactoring is good.

[2021-07-22 13:30] #1184 closed, assigned to tonyhallett

[2021-07-22 14:03] #1164 closed, assigned to nobody

[2021-07-22 14:12] tonyhallett opened #1188 "`mock.Protected()` setup methods fail when argument is of type `Expression`"
[code]
Throws
[code]

ToExpressionArg should check the Type and uses Expression.Constant if the argument type is a LambdaExpression / Expression
https://github.com/moq/moq4/blob/9e148f6955a2aef09c6e4a5c117c7c7deef0756e/src/Moq/Protected/ProtectedMock.cs#L520
[code]

[2021-07-22 14:46] stakx commented on #1188
@tonyhallett, could you please provide a minimal but complete repro (one including the declaration of `FooBase.ExpressionProperty`). Thanks!

[2021-07-22 15:05] tonyhallett commented on #1188
[code]

[2021-07-26 08:35] stakx commented on #1173
@tonyhallett, I realise that &ndash; but this isn't just about how easy it is _for you_ to prepare a PR. There is also work involved in having this discussion / considering whether this is taking Moq in a good direction, reviewing your PR, and later, having to maintain additional code. And gauging whether the benefits of the new API will outweigh those costs.

At this time, I am mostly worrying ab

[2021-07-27 13:30] tonyhallett commented on #1173
@stakx
Of course _I_ realise that ( the last comment was really just implying that the review time would not be significant )

it is _you_, that has these responsibilities and tasks.
_IMO_ the inability to use sequences ( in their current form ) for protected mocks is an issue and I respectfully disagree with your stance on a temporary fix to align the two.

Let's continue this discussion here htt

[2021-07-27 14:57] stakx commented on #1173
This is an open source project and I am not getting paid a single dime for my work here, so I am under no obligations whatsoever.

If I don't feel that `mock.Protected().InSequence` would be time well spent, then I reserve the right to not invest _my_ time there.

Sorry if that sounds a little harsh, I don't mean to be disrespectful. I'm happy to continue the discussion on sequences, but like I sa

[2021-07-27 16:54] tonyhallett commented on #1173
That was meant to be also read as

Not that it is your responsibility to do everything that is asked

[2021-07-31 23:56] loic-sharma opened #1194 "Add README to NuGet package"
Hello!

I am from the NuGet team at Microsoft. We recently introduced support for embedding READMEs into NuGet packages ([blog](https://devblogs.microsoft.com/nuget/add-a-readme-to-your-nuget-package/), [docs](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packagereadmefile)), and we plan to place these READMEs front and center on nuget.org. Would you be willing to accept a contr

[2021-08-01 14:07] stakx commented on #1194
Hi @loic-sharma. Sounds great!

One thing, Moq packages are potentially released from two different repositories: this one here (moq/moq4), and [moq/moq](https://github.com/moq/moq). I suppose the `README.md` from the package last pushed "wins"? Or the one from the latest version?

We'd need to make sure that if we actually _do_ publish from both repositories, the _Readme_ section on NuGet won't r

[2021-08-01 16:27] loic-sharma commented on #1194
Oh I didn't know y'all were working on a new version of Moq! READMEs are version-specific. In other words, if V4 has README `foo` and V5 has README `bar`, we will show `foo` if you browse V4 and `bar` if you browse V5. I'll send pull requests to both repositories! :)

[2021-08-01 16:30] stakx commented on #1194
I see, and since NuGet displays the latest version by default, one would typically see the `bar` README once Moq v5 has been officially released. Makes sense! :+1:

[2021-08-03 00:29] #1188 closed, assigned to nobody

[2021-08-03 11:53] tonyhallett opened #1195 "`mock.Protected()` does not support methods with ref or out parameters"
[code]

and this is not allowed

[code]

[2021-08-03 19:09] stakx commented on #1195
Uh, the method is called `RefMethod`, so the error message is actually expected behaviour...?

[2021-08-03 19:35] tonyhallett commented on #1195
Indeed !
Example updated.

[2021-08-09 09:05] Tiefseetauchner opened #1198 "Make Capture.In<>() support System.Collections.Generic.Queue<>()"
I'm working on some test setups, and `Capture.In<>()` takes `ICollection<> collection` as parameter, but Queue only extends `ICollection`. Queue would be really useful, because it makes it much easier to Validate the parameters in the `Verify()`, since the Dequeue returns and removes the value, which means no helper method is needed, and `Times.Exactly()` could yeet as many entries as needed (if t

[2021-08-09 19:12] stakx commented on #1198
Hi @Tiefseetauchner. ⚓🌊🐚 I understand the use case, but I'm not certain that a new `Capture.In` overload for `Queue<>` would be wise... I tend to think it probably wouldn't be. Let me lay out a few arguments:

* The new method overload could be neither for `IEnumerable<>` nor for `ICollection`, since those interfaces only allow us to consume a collection; they don't allow adding new items to it. F

[2021-08-10 06:50] Tiefseetauchner commented on #1198
Hey! That sounds pretty reasonable indeed. Thx for the quick response 👍🏻

[2021-08-18 04:36] adamfk opened #1199 "implicit guard too strict; prevents valid user wildcard `_` implementations"
Edit: if you want to see where the bug is discussed, skip to https://github.com/moq/moq4/issues/1199#issuecomment-902486327

The fix for the issue seems counterintuitive at first, but was thoughtfully considered here: https://github.com/moq/moq4/pull/1202#discussion_r693531822

The rest that follows is a bunch of discussion/attempts to enable an alternative user-code shorthand `_` for `It.IsAny<>(

[2021-08-18 08:03] stakx commented on #1199
Hi @adamfk, nice idea! I agree that `It.IsAny<T>()` is rather verbose, being able to use a discard-like `_` construct would be lovely indeed.

Unfortunately, faking a discard operator `_` / `any` based on implicit convertability is not going to work for interfaces, because the C# language does not allow you to define an `implicit operator ISomeInterface`. This is a major roadblock, because in test

[2021-08-18 13:44] adamfk commented on #1199
Excellent points! I hadn't thought of implicit conversions with interfaces.

It might be able to work with interfaces, but it starts to get even more janky. `UserCustomAnyHelper` would have to be made to implement the interface. Maybe this will be more attractive with a C# source generator some time in the future (they seem unstable right now).

For interests sake, my original code above does get

[2021-08-18 15:01] stakx commented on #1199
OK, I'll close this for the time being. We can always reopen if and when you find a viable solution. Good luck! :-)

[2021-08-18 22:50] adamfk commented on #1199
@stakx it wasn't as hard as I thought to find reasonable work arounds. I've opened a PR more for discussion than expecting a merge.

[2021-08-19 02:30] adamfk commented on #1199
Here's a cleaner solution: https://github.com/adamfk/moq4/commit/c4dca50983b17d9c0c24ff907bdf0ba4d1586cb1#diff-e19e65740ba7805f6c3c79daa3472dc0e01fe06285f3cdf5831fb8286501852c

I think this coupled with a 3rd party Roslyn analyzer/code fix lib could work really well. The only thing that it would require from moq is adding the `AnyValue` attribute.

Thoughts?

[2021-08-19 07:52] stakx commented on #1199
I think Roslyn is great! Take a look at the upcoming [Moq v5](https://github.com/moq/moq) and its foundation library [Avatar](https://github.com/devlooped/avatar) regarding source generators. For Moq v4, we'd probably profit most from analyzers for detecting common usage errors.

My primary issue with your PR is the introduction of `AnyValueAttribute`. Moq already has a mechanism to detect matcher

[2021-08-19 13:35] adamfk commented on #1199
I can definitely understand wanting to keep the public API slim.

Do you think that Moq v5 will support wildcard matchers like `_`? Or will it still require something like `It.IsAny<T>()`?

Because C# doesn't allow implicit conversion to interfaces (as you mentioned above), I don't see a road forward using the existing public API.

These are some options I see:
1. No wildcard matcher support. Not

[2021-08-19 16:26] stakx commented on #1199
It's the latter ([`Arg.Any<T>()`](https://github.com/moq/moq/blob/9786b8edb9139e8a02442a472271c5831192e4d7/src/Moq/Arg.cs#L15)).

It doesn't really matter who is trying to write the source code, you or a Roslyn generator. The fact of the matter is that C#'s static type system simply doesn't make it easy to create a construct like your `_` that can assume any type.

gMock is a C++ library, right? C

[2021-08-20 00:00] adamfk commented on #1199
Totally agree.  I want a solution that supports refactoring and other IDE/compiler goodness. 🤖

Without the implicit guard (`if (convertExpression.Method?.Name == "op_Implicit")`), the following works:

[code]
https://github.com/adamfk/moq4/commit/fe0ec2a0a70d3e0a49ab98977dc6492a1d9b26a3

This obviously isn't a solution. Just showing one of the many things that I've tried.

Even if I find a way ar

[2021-08-20 07:13] stakx commented on #1199
But it wouldn't be undefined behavior: once you've demonstrated that the current implicit guard is too strict, and you've found a way to change it such that it allows your scenario while still working for the original use case, then we add a test with your use case to the test suite. Any future changes to Moq will from then on have to take your legitimate use case into consideration.

Let me start

[2021-08-20 13:52] adamfk commented on #1199
Thanks for the help! I'll take another crack at it this weekend :)

If I can get this working normally, maybe a source generator could do all the grunt work of making the compiler happy. That would make for an excellent user experience 🚀

[2021-08-20 16:35] stakx commented on #1199
Agreed. It might also make a nice contrib package!

[2021-08-22 12:41] stakx commented on #1198
Thinking about this some more, I wonder whether it would make sense to make the following additions instead:

[code]

This would make it a little easier to use any kind of collection:

* ``` csharp
   Capture.With(list.Add)
[code]
* ```csharp
   Capture.With(queue.Enqueue)
[code]

[2021-08-22 13:00] stakx commented on #1195
Finally got some time to look at this. Sorry for the delay.

To be entirely honest, I don't see any value in any further additions to the `mock.Protected()` APIs. The whole point of adding `mock.Protected().As<>()` back in version 4.8.0 was to offer a typed alternative that worked just like the regular `mock.Setup` API as much as possible, i.e. to obviate the need to come up with alternate untyped

[2021-08-22 16:27] tonyhallett commented on #1195
In my eyes too.  I have just been filling in what is missing in `mock.Protected()`.

If what is currently not possible is not going to be made possible I personally would update the readme to mention that out/ref setups and verification cannot be achieved with `mock.Protected()` and to use `mock.Protected().As<>`.

[2021-08-22 16:39] stakx commented on #1195
Glad to hear you agree!

Good suggestion, though I'm not sure the `README.md` would be quite the right place for that cue, as it mostly gives a high-level overview of Moq. More detailed instructions currently live in the quickstart wiki page. Feel free to update it!

(We really ought to do something about Moq's documentation... 😄)

I'm going to close this (and the PR, too) as "won't fix". If I've

[2021-08-22 16:40] #1195 closed, assigned to nobody

[2021-08-23 06:31] #1199 closed, assigned to adamfk

[2021-08-25 07:31] stakx opened #1205 "Using type matchers with `.Callback` and `.Returns` should be forbidden"
This is a follow-up to #1137.

[code]

While all static type checking will check out fine, there's still an error here: at runtime, the callback's `arg` will never have type `It.IsAnyType`&mdash;it should really be typed `object`. Otherwise the callback will throw an `ArgumentException` (_"Object of type '...' cannot be converted to type 'Moq.It+IsAnyType'."_).

I believe that any use of type matc

[2021-08-25 07:33] stakx commented on #1137
I'm closing this issue, since the immediate problem has been resolved. I've opened a new issue that addresses the one remaining task regarding Moq's callback validation.

[2021-08-25 07:33] #1137 closed, assigned to nobody

[2021-08-25 08:41] #1205 closed, assigned to stakx

[2021-08-26 02:53] Ted-chiptech opened #1207 "Mock deconstruction return value with in parameter modifier"
Hi,

If I understand this library correctly, when I setup a method, and assign the return value, that value will save to an Object type. Something like:
[code]
When I mock this method:
[code]
This true will save to an Object type internally and convert back?

So my question is how should handle the return value is a value tuple deconstruction?
e.g.
[code]
When I mock this method:
[code]
When I inv

[2021-08-26 07:06] stakx commented on #1207
@Ted-chiptech, yes, all argument and return values are stored as `object`s internally, but that shouldn't be a problem here&mdash;`ValueTuple<,>`, like any other value type, can be boxed and unboxed just fine.

Your setup looks corrrect, I don't expect you'll have to change it significantly. I'll take a closer look when I get back to my machine.

[2021-08-26 08:43] stakx commented on #1207
@Ted-chiptech, the following test is passing just fine:

[code]

If this isn't working for you, there must be something else going on that you haven't shown&mdash;for instance, your project using an outdated version of Moq, or a rogue implementation of `System.ValueTuple<,>` (instead of the one from the .NET framework class library). In either case, Moq appears to work just fine, so I'm going to c

[2021-08-26 08:43] #1207 closed, assigned to nobody

[2021-08-26 10:13] Ted-chiptech commented on #1207
Hi @stakx, Thanks for your prompt reply! Sorry, I noticed why the result is different between you and me, it is because I've simplified my example too much to mislead you (and myself...). The parameter needs to have the "in" modifier.

The proper example should be:
[code]
Hopefully, this will make more sense?
Thanks!

[2021-08-26 11:02] stakx commented on #1207
Try:

[code]

since `in` makes this a by-ref parameter, and you'll need to set it up as such.

(Note that specifying `in` at the call site is optional, the compiler will silently insert it for you when it is missing. In situations such as this one, it can help to be explicit about it, to help you understand at a glance what's going on.)

[2021-08-26 13:10] stakx commented on #1146
NuDoq has been down and/or going stale for so long now that I think it makes sense to remove the link to it from `README.md`.

[2021-08-26 13:14] stakx commented on #1146
Done in 534b5cdec62b43fde5e8cd23fd9d1431aa2ea57a. We'll eventually need to suggest a new place where to find documentation (including API reference docs) once we have set that up (see e.g. #1090).

[2021-08-26 13:14] #1146 closed, assigned to nobody

[2021-08-26 20:10] Ted-chiptech commented on #1207
I see, that totally makes sense, thanks a lot for your help!

[2021-09-15 15:15] pjquirk opened #1209 "MissingMethodException when mocking interface with sealed default implementation"
I thought this might fall under the #1148 umbrella, but using the latest 6.0 release (`6.0.100-rc.1.21458.32`) still results in the error.

I think the expected behavior here should be to use the default implementation if `CallBase` is `true`, otherwise, error as cannot be mocked. This repro errors regardless of the value of `CallBase`.

### Repro
[code]

### Full build/run log:
[code]

I'm on Mac

[2021-09-21 08:55] surovij45 opened #1210 "Add Times Expectation to the mock setup"
[code]

Add `Times` expectation to the mock setup, and we can verify setup using single line `mock.VerifyAll()` or `mockRepo.VerifyAll()`

[2021-09-23 14:37] surovij45 commented on #1210
or

[code]

[2021-09-23 15:49] stakx commented on #1210
I'll have to look up the issue where we discussed this topic last, but IIRC we ended up with `setup.Verifiable(times, [failMessage])` back then. `setup.Times(times)` also seems reasonable. `mock.Setup(..., times)` wouldn't be so great because we'd need to add a ton of method overloads to an already heavily overloaded method.

[2021-10-04 08:12] icabellopalacio opened #1211 "Mock DbSet Load() with Where()"
I have an issue mocking a DbSet. The problem is that I'm calling the Load() method on this DbSet  but before that Load() I'm executing a Where().
_context.DataDictionaryKPIsTranslations.Where(translation => translation.Language.Equals(language)).Load();

When I run the test the Where clause is not executed and Load() return all mocked data. I think this works in this mode because I'm running the l

[2021-10-04 11:51] surovij45 commented on #1210
Implementation is up to you

[2021-10-04 13:29] stakx commented on #1211
This issue tracker is for the development of the Moq library. Please ask pure usage questions on sites such as Stack Overflow... thanks.

[2021-10-04 13:29] #1211 closed, assigned to nobody

[2021-10-18 19:19] seilorjunior opened #1212 "Moq 4.16.1 is not compatible with netcoreapp3.1"
Hello,

There is any plan to support dotnetcore?

The same build on my machine works.
But on my build server, i am getting this
Package Moq 4.16.1 is not compatible with netcoreapp3.1 (.NETCoreApp,Version=v3.1). Package Moq 4.16.1 supports:
      - net45 (.NETFramework,Version=v4.5)
      - netstandard2.0 (.NETStandard,Version=v2.0)
      - netstandard2.1 (.NETStandard,Version=v2.1)

[2021-10-18 23:39] stakx commented on #1212
.NET Core 3.1 does implement .NET Standard 2, and so Moq does support .NET Core via that. Must be a problem with your build server setup or project.

[2021-10-19 07:07] #1212 closed, assigned to nobody

[2021-10-20 19:16] fforjan opened #1213 "Broken assertion after upgrading from 4.2 to 4.16 with collection - BeEmpty()/HaveCount()"
While migrating moq 4.2 to 4.16 ,we have encountered issues were the code does not compile anymore.
Some would be 'ok', WhichValue/WhoseValue, etc...

But we have a set which doesn't make sense, in particular :
![image](https://user-images.githubusercontent.com/601810/138156847-861c3b3c-488e-417f-81f4-1290c68137f8.png)

The collection in this sample being https://docs.microsoft.com/en-us/dotnet/ap

[2021-10-20 19:33] stakx commented on #1213
I don't see what this has to do with Moq. Closing.

[2021-10-20 19:33] #1213 closed, assigned to nobody

[2021-10-20 22:05] fforjan commented on #1213
yeah, my bad. my very bad

[2021-10-21 16:44] seilorjunior commented on #1212
@stakx this issue only happens with nuget restore. I have resolved using dotnet restore. FYI

[2021-10-25 13:31] wzchua commented on #1209
DynamicProxy fails to check that the method is not virtual here

[2021-10-27 11:56] madstt opened #1214 "Specifying the expected number of occurrences in IsIn()"
In a verification step, I would like to specify the number of times an expected value should occur.

Using the current version:

[code]
But that does not catch cases where you need to verify an exact number of times an expected value is allowed, it just verifies that the value is *in* the list.

I did an honest attempt to make this possible. Since the `It` class is static and sealed, it is not pos

[2021-10-27 12:56] stakx commented on #1214
It is sometimes a pity that static classes cannot be extended that way, right? Nevertheless, I think it doesn't make sense to add all possible kinds of specific predicates to Moq's `It` class. We have the basic constructs in place that can be used to create further predicates &ndash; `It.Is` and custom argument matchers &ndash; and my vote goes towards leaving it at that and keep more specific pre

[2021-10-27 15:41] madstt commented on #1214
Ok, that sounds reasonable. Is it actually possible to create the same logic using current constructs and custom argument matchers? If so, could show an example?

[2021-10-27 15:57] stakx commented on #1214
I think you've already figured out how to use custom matchers for this. But here goes.

You can replace `It.IsIn(xs)` with `It.Is(x => xs.Contains(x))`, right?

From there, it should be easy to adjust the predicate so it checks for `n` occurrences instead; say, `It.Is(x => xs.Count(y => y == x) == n)`.

You could then wrap this up similar to how you've done already:

[code]

(I probably wouldn't e

[2021-10-27 18:44] madstt commented on #1214
Thank you.

I'll close this.

[2021-10-27 18:44] #1214 closed, assigned to nobody

[2021-11-01 17:13] CoenraadS opened #1215 "It.IsSubtype<T> doesn't work when T has constraints"
I was struggling with the documentation for It.IsSubType

https://stackoverflow.com/questions/69800011/moq-it-issubtype-has-no-implicit-reference-conversion/69800795#69800795

Until someone pointed me to use TypeMatcher instead. Perhaps it would be useful to include this part of the documentation: https://github.com/Moq/moq4/wiki/Quickstart#type-matchers-moq-413

[2021-11-01 22:56] stakx commented on #1215
@CoenraadS, feel free to edit the wiki. Adding `<remarks>` to the XML doc comments of [`It.IsSubtype<>`](https://github.com/moq/moq4/blob/e9fff47be6a7ce63c569fe49728df3c9cbc2b7a5/src/Moq/It.cs#L388) might be a nice addition, too.

[2021-11-05 17:02] howcheng opened #1216 "Null reference exception when using the "new" keyword with properties"
Several months ago, I reported #1175 and I think this may be related because it again involves subtyping with the use of the "new" keyword.

I have an interface (`IRepository<T>`) that defines a property (`Foo Foo { get; set;}`), and then a derived interface (`IRepository<T, TK>`) that redefines that property (`Foo<T>`).  Next, I have a `Service<T>` class which takes a `IRepository<T>` in its cons

[2021-11-12 12:43] b3go opened #1217 "Update from 4.13.1 to 4.16.1 lazy evaluation setups fail"
Hi!

I have a few tests that didn't work anymore after update to the current version. These tests were not written by me so I can't tell you much about why they were written like that.

1. Lazy evaluation of setups
In the TestIntialize method there are 2 Setups for the same method but depending on the argument it should return another value. Initially `patternKey` and `exeKey` are both string.Empt

[2021-11-23 05:09] denjmpr commented on #1179
Hi,
This is also reproducible with TeamCity Enterprise 2021.1.1.
I also tried some different approaches found on the web - nothing helped me.
Thanks.

[2021-11-26 15:49] iamdmitrij opened #1218 "How to tell if certain object is mocked by Moq"
Is there a way to tell if certain `object` instance is mocked by `Moq`?

There is `Mock.Get<T>()` static method but it does require generic type. All I need to tell is object by mocked.

Code like this will result in `ArgumentException`:

[code]

One idea came to mind to use `ProxyUtil` from `Castle Dynamic Proxy`:

[code]

Perhaps this is niche use-case for most of users and probably this shouldn

[2021-11-28 18:53] stakx commented on #1218
`obj is Moq.IMock`?

[2021-11-29 12:37] iamdmitrij commented on #1218
As far I understand `IMock<out T> where T : class` requires a generic parameter T. Unfortunately, in my case `obj` is not statically typed. During runtime I only get mocked **Object** constructed from `new Mock<IMockable>().Object` and only then I need to check if `object` was mocked by `Moq`.

   Name | Value | Type
-- | -- | --
targetObject.GetType() | {Name = "IMockableProxy" FullName = "Castle

[2021-11-29 15:09] sydseter opened #1219 "Moq is using Castle.Core which has an old version of System.Net.Http which is vulnerable to "DoS", "Spoofing", "Privilege Escalation", "Authentication Bypass" and "Information Exposure""
The following vulnerable libraries were found:  System.Net.Http@4.3.0 and System.Text.RegularExpressions@4.3.0

All issues for System.Net.Http@4.3.0 have been fixed in 4.3.4.
All issues for System.Text.RegularExpressions@4.3.0 have been fixed in 4.3.1

These are the vulnerabilities associated vulnerable paths:

✗ Denial of Service (DoS) [High Severity]https://snyk.io/vuln/SNYK-DOTNET-SYSTEMNETHTTP

[2021-11-29 22:10] stakx commented on #1218
Apologies, I meant `Moq.IMocked`, not `Moq.IMock<>`.

And yes, while it is certainly possible that some party other than Moq itself could implement `IMocked`... why would they? I'd say that in real world scenarios, you should be able to rely on a `obj is IMocked` check.

[2021-11-29 22:25] stakx commented on #1219
We cannot really do anything about that until Castle.Core updates their dependencies. Once there is an updated Castle.Core release, Moq will follow suit very soon thereafter.

[2021-12-01 11:24] mateuszloranty opened #1220 "Generic method + func parameter (Cannot convert to type 'Func<NpgsqlConnection,Task<It.IsAnyType>>')"
Hi,
I've studied similar issues like #908 and #919 but still cannot resolve my problem...

This is my method which I want to mock. It's generic and has generic Func<,> parameter:
[code]
I want to mock method to avoid body with creating and opening db connection but <ins>**call Func<,> command**</ins>
Following the example of #1124, #1001 and similar I tried to mock it this way:
[code]
I expect tha

[2021-12-01 16:07] Sl1ckR1ck opened #1221 "Calling .Raise raises the event on a new instance of the mocked object"
I am using a mock to verify the core behavior of an abstract class.

Everything is working well until I started to test the code which reacts to the PropertyChanged event of the abstract class.

For some reason when I call .Raise on the mocked object, a new instance of the mock is created and the PropertyChanged event is being called on this new instance which results to crashes since my initial s

[2021-12-02 11:04] stakx commented on #1221
Please post minimal **but complete** repro code. You've excluded the required bits of the definition of `MyAbstractClass` so it's impossible to run your code as is.

[2021-12-02 16:19] Sl1ckR1ck commented on #1221
Actually I think I realize that the way im using this test is wrong. But ill post the code here to see if you guys propose a way to raise such event on the abstract class to test the base code:

[code]

So this is no longer an Issue per say, more of a bad usage of moq. Sorry about that.

[2021-12-04 04:46] EklipZgit commented on #1220
Also looking for the solution to this same exact issue. My use case is also the same, mocking our SqlProvider to return a mocked SqlConnection in order to mock data at a low level.

[2021-12-05 21:35] stakx commented on #1218
I'm going to close this issue. There is no way to check whether an object was created by Moq, and Moq only. Your best bet is checking whether an object implements `IMocked`.

[2021-12-05 21:35] #1218 closed, assigned to nobody

[2021-12-05 21:37] #1221 closed, assigned to nobody

[2021-12-07 13:42] rkm opened #1222 "Verify() succeeds if there are no verifiable setups"
I was debugging a test which had a false positive result, and noticed that we had missed the `.Verifiable()` call for a setup. This was confusing since we were calling `.Verify()` at the end, so everything appeared fine at a first glance.

A cut-down example is:
[code]

This passes, even though `CreateFile` is never called.

I may be misunderstanding the intended usage, but are there genuine situa

[2021-12-07 14:17] Kiechlus opened #1223 "Setup return value fails in a constellation with nullable ints"
Using moq version `4.16.1`

Setting a return value does not work when an optional nullable `int?` is setup as `It.IsAny<int>()`. However, the compiler does not complain neither. Finding out what was the problem took us quite some time, so this can be a real annoyance.

[code]

A similar issue was reported on https://github.com/moq/moq4/issues/444 but could not be reproduced.

[2021-12-08 11:41] chigeroo opened #1224 "Setup with generic args not retrieving explicitly registered interface when the base interface is setup later"
Hi.  I have just upgraded from Moq 4.2.1510.2205 to Moq 4.16.1 and am getting failing tests in the following scenario which previously worked fine.  I have provided a failing test and a successful test:

[code]

Expected outcome:
_retriever.GetSomeInterface<IInterfaceDerivedB>(); should return an IInterfaceDerivedB

Incorrect outcome:
The failing test is occurring because it is resolving to the ba

[2021-12-11 08:05] evilc0 opened #1225 "Moq.Verify cant detect Invocation when a method is passed"
Hello,

first of all, thank you very much for this masterpeace of software.

I think i found a bug in the verification of mocks, i assume that it is coming from late time binding of parameter invocation, but its just a assumtation.

`Moq.Verify(m => m.MyMethod(Convert.FromBase64String(myArr)) wont match.`

[code]

I've created a minimal repo to reproduce the problem:

https://github.com/evilc0/Moq

[2022-01-11 11:27] ds1709 opened #1226 "CallBase is ignored when it's true and MockBehavior is Strict"
Moq version: 4.16.1
Platform: any

## Description
For virtual methods `CallBase` is ignored when it's `true` and `MockBehavior` set to `Strict`. `MockException` is thrown istead.

## Expected behaviour
Base metod implementation is called instead of MockException throwing.

## Steps to reproduce

### Tested class
[code]

### Call
[code]

[2022-01-18 23:06] howcheng commented on #1216
I recently learned about the `.As<>()` method, so it turns out I was just doing the setup for the mock incorrectly.

[2022-01-18 23:06] #1216 closed, assigned to nobody

[2022-01-20 08:35] Danielku15 commented on #1210
@stakx I am currently trying to migrate away from RhinoMocks and our codebase is heavily relying on the repeat functionality offered on setups. I have read through the past discussions [here](https://github.com/moq/moq4/issues/530) and [here](https://github.com/moq/moq4/issues/373) and all topics stayed unresolved due to alternatives.

I wanted to share my bits on what we would actually need and m

[2022-01-23 12:44] stakx commented on #1226
`CallBase = true` (specified at the mock level) + `MockBehavior.Strict` is a combination that doesn't make much sense. One specifies that when a method call hasn't been set up, the base implementation  should be called; the other says to throw in the same case. Those are contradictory, and IMHO it is correct that `MockBehavior.Strict` takes preference.

Closing this as "by design" &ndash; even tho

[2022-01-23 12:44] #1226 closed, assigned to nobody

[2022-01-23 12:52] stakx commented on #1222
Hi @rkm. I've been very busy, sorry for replying late.

I didn't originally create Moq so I can only speculate. I think the idea behind `.Verify()` only taking into account setups that have been marked as `.Verifiable()` was that sometimes you need some setups in order for the mock to behave in a certain way, but those may not be directly related or relevant to what you're going to verify, so ther

[2022-01-23 12:55] #1222 closed, assigned to nobody

[2022-01-23 17:39] stakx commented on #1210
@Danielku15:

Moq can do some of that via the `setup.AtMostOnce()` and `setup.AtMost(n)` methods. They're marked obsolete (which was perhaps a past mistake), but they're perfectly functional and won't be going away; at least not in Moq 4.

[code]

Moq setups will not throw at invocation time if you haven't set up either a `.Throws(...)` or `.AtMostOnce()` / `.AtMost(n)`.

However, `mock.Verify()`

[2022-01-23 18:08] stakx commented on #1220
[code]

Using `InvocationFunc` is going in the right direction. But you're not going far enough. You'll need to convert more of your code in `.Returns` to use Reflection. No way around it as far as I can see.

`It.IsAnyType` is a placeholder for some other type, to be used in setups or during verification. But nothing will _ever_ be of that type at runtime, so it doesn't make sense to convert `inv

[2022-01-28 22:09] aufde opened #1228 "Poor error message mocking a non-virtual Set property"
Simple setup here, using Moq 4.16.1:
[code]

BlahWrapper.Thing is not virtual so this fails to setup but throws an unhelpful error, `Could not determine the correct positions for all argument matchers (1 in total) used in a call to this method: ServiceRequestServiceTests.BlahWrapper.get_Blah.`
Making BlahWrapper.Thing virtual allows the test to pass. In BlahWrapper, changing `public string Thing {

[2022-01-30 14:16] macfarmw opened #1229 "How does the It.IsIn<Exception> call work for verifying calls to the logger?"
I'm using Moq to verify the logger gets called with Warning level if 2 specific exception types are thrown. The exception instances are being passed to the logger.LogWarning method. The Mock verifies the the log level successfully, but I can't figure out how to verify the exception type. Here is my attempt:

[code]

This compiles, but when the class catches these exceptions and logs the warning Ve

[2022-01-30 22:06] stakx commented on #1229
It seems unlikely (actually, almost impossible) that any specific call would throw _exactly_ the exception instance that you're `new`-ing up in your test code. (`Exception` and thus all derived classes are reference types, so what gets compared by default is their identity, not their types/values.)

You probably meant to do something like `It.Is(ex => ex is FooException || ex is BarException)` (or

[2022-01-30 22:12] stakx commented on #1228
Feel free to submit a PR. You'd quickly discover why this is absolutely non-trivial, as everything non-virtual or sealed is basically invisible to Moq 4. Nothing to be done here, the only options as far as I can tell is switching to Moq 5, or otherwise replace the internal matcher guessing machinery behind `SetupSet` with one that decompiles the passed lambda's IL bytecode.

[2022-01-30 22:12] #1228 closed, assigned to nobody

[2022-01-31 13:09] asmejkal commented on #1210
Have you considering unmarking the `AtMost` methods as obsolete? They're very useful in a strict mocking style. Obsoleting them produces warnings, which is annoying when the proposed alternative (explicitly calling Verify with the same invocation signature) is not a good fit for our strict mocking style.

[2022-01-31 13:09] macfarmw commented on #1229
Hi Dominique,

Yes, that's exactly what I meant to do 😄!

After I applied your suggestion I noticed that the verify was still not matching on the exception types. I took a closer look at the calling code and found the the call to `LogWarning` needed to be changed.

I changed
`Logger.LogWarning("Integration {IntegrationName} {@Exception}", Integration.IntegrationName, tcex);`

to
`Logger.LogWarning

[2022-01-31 13:09] #1229 closed, assigned to nobody

[2022-02-03 12:03] Danielku15 commented on #1210
I am a bit reluctant to migrate our codebase to a mechanism which is marked obsolete. Removing the obsolete flagging would be step one, but it is also a strategic thing whether Moq plans to really support this functionality in future. If maybe in 1-2yrs a Moq5 comes out, it sounds like quite a risk that it still might be removed.

[2022-02-03 16:17] stakx commented on #1210
@Danielku15, it is my understanding that Moq 5's main API is really quite different from Moq 4's (it's a new major version for good reason!). It does have a special back-compat API to make the transition from 4 to 5 easier, but if you really want to update at some point, you'll likely have to adjust/rewrite some tests anyway.

That being said, I fully understand that basing code on ostensibly obso

[2022-02-03 18:52] Danielku15 commented on #1210
@stakx Of course an upgrade between major versions also imply a certain level of breaking changes. But I would say for most libraries it rarely means large conceptional changes which have implications that you have to reorganize your code in a large scale. Unfortunately this topic is one of these rare cases. Conceptionally it is a different mentality to change the repetition aspect from the arrang

[2022-02-03 19:11] rjvdboon commented on #1224
When I had the same error in one of my tests after updating to Moq 4.16.1. It helped to reverse the order of registration (the more Base before the more Derived). Search the other issues for background, that's where I got the idea from.

[2022-02-03 19:12] rjvdboon commented on #1217
I think I'm hit by the same issue after upgrading to 4.16. @b3go I have applied your workaround successfully, thanks for finding that out!

[2022-02-04 10:01] alex-fomin opened #1230 "[Feature Request] Allow to change MockBehavior of mocks"
This feature is especially useful with mix of AutoMocker. For instance, I have a complex class to test, so I setup a AutoMocker with Loose behavior and set all required dependencies (leaving all unimportant services as Loose mocks). But then I need to verify that particular service should be mocked as Strict to ensure that my test setups all required methods of the service. At the moment, I have t

[2022-02-11 12:43] estrizhok opened #1231 "SetupAllProperties causes mocks to become race-prone"
Moq version: 4.16.1
Target Framework: Probably any, tested on net48 and net6.0

A test to reproduce the problem:
[code]

[2022-02-12 21:29] stakx commented on #1230
Without knowing all the details of your exact testing scenario, why don't you simply use different mocks for the different test cases, some being strict, and some being loose? If the issue is having to set up several mocks almost identically, that should be easy enough to solve through a mock factory method having a `MockBehavior` parameter.

[2022-02-12 22:04] stakx commented on #1225
Hi @evilc0, I've taken a look. There is indeed an inconsistency in how Moq matches enumerable values (such as your `byte[]` arrays), depending on whether they are passed directly (as a constant) or returned from a method call. The PR linked above should rectify this.

[2022-02-12 22:07] #1225 closed, assigned to nobody

[2022-02-12 22:10] stakx commented on #1194
I'm closing this issue as it has gone stale. @loic-sharma (or anyone else), if you're still interested in adding a README to the Moq NuGet package, feel free to submit a PR.

[2022-02-12 22:10] #1194 closed, assigned to nobody

[2022-02-13 22:15] stakx commented on #1231
Thanks @estrizhok for reporting this problem.

I believe the PR linked above will take care of this.

I would like to add your repro code to the test suite, but unfortunately the `[Repeat(10000)]` doesn't translate well to xUnit & Visual Studio's Test Explorer. The latter will display 10,000 separate tests in the test list, and test execution gets a lot slower. So I haven't added this to the test

[2022-02-14 06:54] estrizhok commented on #1231
Thanks @stakx for reacting quickly on it.

I don't see much problem in replacing [Repeat(10000)] with a loop inside the test to avoid creation of excessive tests. Also, this number could probably be refined to a much smaller value or even to 1 for the purposes of CI.

Thanks again!

[2022-02-15 12:11] #1231 closed, assigned to nobody

[2022-02-15 12:13] stakx commented on #1220
@mateuszloranty @EklipZgit, does the above provide any help? If I don't hear back from you, I'll close this issue in the next few days.

[2022-02-15 12:16] #1215 closed, assigned to nobody

[2022-02-15 12:18] stakx commented on #1139
There has been no activity for over a year, so I am finally closing this issue.

[2022-02-15 12:18] #1139 closed, assigned to nobody

[2022-02-18 10:51] alex-fomin commented on #1230
I'm using AutoMocker to populate complex objects with mocks. It has a constructor parameter `MockBehavior` that is used to  create all mocks inside the `autoMocker` instance. As far there is no possibility to change mock behavior of already created mock, it is not convenient to setup complex objects mocking.

[2022-02-18 11:29] stakx commented on #1230
So if I understand correctly, the source of your problem is that AutoMocker only gives you the choice between loose and strict mocks once, when you'd really need to choose between those two behaviors at a more granular level? In that case, it seems you should make your request with AutoMocker instead... solve the problem at the source, instead of asking for a workaround further downstream.

[2022-02-18 15:11] voroninp commented on #1230
@stakx , do you remember our [discussion](https://github.com/moq/moq4/issues/1056) about mixed mode: strict for queries, loose for commands? ;-)

I guess, @alex-fomin , needs something similar.

[2022-02-18 16:02] alex-fomin commented on #1230
It's quite not the same. My example looks like
[code]

[2022-02-18 16:26] voroninp commented on #1230
But why not call `Automocker.Use` method and pass loose mock for service `d1`?

Also, I suspect the method you don't care about either has command semantics, or it's output not being checked by the code which uses that value as an input.

[2022-02-21 08:30] alex-fomin commented on #1230
In simple cases `Use` is quite enough, but when tests are more complicated, some calls/checks could be set in common methods of the test class (yeah, it is not a good pattern though).
As for non-cared methods - it could be either commands, like logs or so, or queries, when default results (e.g. `null`) are good enough (caches, etc.)

[2022-02-25 12:27] ZenwalkerD opened #1236 "Help in Mocking ASP Net Core GetService<T>"
Dear All,

Require help in mocking Dependency Injection GetService<T> method in ASP NET Core 5, with MOQ - 4.16.1, Nunit 3

Here is my production code:

[code]

My Unit tests:

[code]

With this, MOQ framework throws exception :
Object of type 'System.RuntimeType' cannot be converted to type UserType.

Things i have tried:
serviceProvider.Setup(x => x.GetService<Func<UserType, UserTypeBase>())

[2022-02-25 15:51] stakx commented on #1236
This issue tracker focuses on developing the Moq library. Please ask pure usage questions elsewhere, e.g. on Stack Overflow, or in the Moq chat (linked to in the project README). Thank you!

[2022-02-25 15:51] #1236 closed, assigned to nobody

[2022-02-26 11:59] ghost opened #1237 "Add support for `success` condition parameter in `When`."
The current `MockSequence` implementation looks like this:
[code]

Do do a custom similar thing we'd use the `When` method:
[code]

But it doesn't expose the `success` action.
What I'm suggesting is to evolve this signature to:
[code]

I'd like to use this to setup a custom condition that depends on that success.

Thanks

[2022-02-26 14:19] stakx commented on #1237
That `success` thingy is an internal implementation detail, and ideally it wouldn't exist at all, because it is somewhat problematic from a thread-safety point of view. Therefore, exposing it does not seem a good idea.

Why don't you simply put your logic in a `.Callback(...)`?

[2022-02-26 15:45] ghost commented on #1237
@stakx so why is Moq using that internal implementation instead on `.Callback(...)`?
I thought that maybe it is because `.Callback` is usable only once per setup and you don't want to fill that space during `InSequence`.

I'm try to make my custom sequencer `InMyCustomSequencer` so that the developer can do something like:
[code]

Basically I'm augmenting Moq features available to a developer to c

[2022-02-26 15:48] ghost commented on #1237
Actually now I see, `Callback` is not usable from the "sequencer" because the Setup has not been executed yet.
And I don't know which method will the developer choose to setup.
And that's the reason because I'm asking to expose that `success` parameter.

[2022-02-26 18:12] stakx commented on #1237
Not sure what your "sequencers" are exactly, but if they're in any way related or similar to `MockSequence`, then it's no wonder you ended up with `setup.When(...)` &ndash; right now, it's the only way to implement sequences.

That being said, Moq's sequences are very limited, and conditional setups that they're based on have a whole bunch of warts.

Instead of adding another wart to conditional s

[2022-02-26 19:18] ghost commented on #1237
My goal is to test a service call that internally uses an unit of work multiple times to call repositories.
[code]

Of course I we need to mock UnitOfWork and all of the repositories to make a good unit test.

I want to verify that repositories are being called in the same transaction in the correct order.
[code]

At the moment I'm using reflection to make use of that hidden parameter: **I know th

[2022-02-26 19:18] #1237 closed, assigned to nobody

[2022-02-28 00:50] #1220 closed, assigned to nobody

[2022-03-02 00:00] the-avid-engineer opened #1238 "Mocking Static Abstract Interface Methods?"
There's a new feature currently in preview which allows you to add `static abstract` methods to an interface:

https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/static-abstract-interface-methods

Is there a way to add a mock behavior for such a method, using moq?

I realize there may not be a "pretty" way to do it yet, but I would like to know if there is _any_ way to d

[2022-03-03 01:56] aaronburro opened #1239 "Retaining old Setups breaks memory leak tests"
I'm upgrading from 4.2.1502.911 (read: very old) to get some newer whizzbang features (mostly better ref and out parameter support) and am having some issues. I see that the MoqExtensions.ResetCalls() method has been marked as obsolete, and I migrated everything to the Mock<T>.Invocations.Clear() as suggested.

However, upon running my tests, almost everything passes, and the common denominator on

[2022-03-03 07:38] stakx commented on #1239
Why did you ever expect `mock.ResetCalls()` or `mock.Invocations.Clear()` to have any effect on _setups_? Seems like you previously relied on some implementation detail, which would make your tests unnecessarily harder to understand.

The easiest way to solve this might be for your setup to compute the return value lazily, e.g. by evaluating some variable. That way, you won't need to shadow the pr

[2022-03-03 17:50] aaronburro commented on #1239
I never expected either of those to rely on setups. Those were just what I had to call to have Moq stop rooting my objects based on what methods were called on the mocks, which makes perfect sense. Tracking previous setups is a new feature from where we currently are, so, what I'm seeing is obviously expected behaviour, just undesirable. As to your suggestion, I had already decided to do just that

[2022-03-03 21:53] stakx commented on #1239
That doesn't sound right. If you have a setup like `mock.Setup(m).Returns(x)`, that `mock` will have a reference to `x`, and `mock.ResetCalls()` won't change that; trying to replace the setup via another `mock.Setup(m).Returns(null)` on the other hand _might_ conceivably have that effect.

Moq has never made a promise that the former setup for `m` will be completely removed; the only promise is th

[2022-03-03 21:58] #1239 closed, assigned to nobody

[2022-03-04 15:11] aaronburro opened #1240 "Property stubs not working on sub mock"
IDE:          Visual Studio 2019
.NET:         Framework 4.5.2
Unit Test:  nUnit 3.7.0
Runner:    ReSharper 2019.1

Property stubs on sub mocks aren't working as expected. The stub now has to be set using Mock.Get(mock.Object.Inner) in order for it to work. It was broken in 4.17.1 (works in 4.16.1, did not test in 4.17.0).

[code]

[2022-03-04 18:07] stakx commented on #1240
Thanks for reporting. I'll look into both problems mentioned.

[2022-03-04 21:41] aaronburro commented on #1240
Thanks. I suspect they are caused by the same problem.

[2022-03-06 09:55] #1240 closed, assigned to stakx

[2022-03-06 09:57] stakx commented on #1240
This was indeed a regression... thanks again for reporting it. You were also right that both problems had the same underlying cause. They should be fixed now. An updated version 4.17.2 should become available on NuGet shortly.

[2022-03-07 04:36] aaronburro commented on #1240
Those unit tests look suspiciously familiar ;) Thanks for jumping on this.
If you don't mind holding off on 4.17.2 for another day or two, I've got another possible regression around clearing Invocations that happened in 4.15.1. I haven't had a chance to nail down the exact repro steps yet.

[2022-03-07 07:45] stakx commented on #1240
@aaronburro, 4.17.2 is already out there; but worry not, there are plenty more version numbers, so please keep reporting issues if you find any more.

[2022-03-08 01:34] aaronburro opened #1242 "Invocations.Clear() does not work on recursive mocks"
IDE:               VS 2017
Test Runner:  ReSharper 2019.1
Moq:             4.9.0 and above
Castle.Core:   4.4.1
NUnit:           3.7.1 and above
.NET Version: 4.5.2

In the example below, the Invocations on the `Bar` mock are not cleared. This appears to have always been the case, but we noticed it in 4.15.1 because that version began including event (de)registrations in the Invocations, which cau

[2022-03-08 01:53] aaronburro commented on #1242
Reading a few other issues, this seems to be in the same vein as #1093

[2022-03-09 06:46] stakx commented on #1242
I'd have to check to be sure, but if memory serves, you're right, clearing invocations has never automatically done the same on submocks.

You're correct, that "recursive" principle is very much relevant here. People keep complaining about Moq automatically including submocks in verification when that isn't expected at all.

Making `mock.Invocations.Clear()` also such a "recursive" operation would

[2022-03-09 17:32] aaronburro commented on #1242
Right, I would agree that *full* recursive clearing of invocations might be surprising and unintuitive, but:

This is the case where it's unintuitive that the Invocations don't clear. While I get that the Invocation is clearly on the submock, I set that submock up using the main mock (Moq did it for me magically), so I would expect Invocations to behave the same way Verifications would.

Maybe I'm

[2022-03-12 09:20] stakx commented on #1238
I don't know for sure, but I suspect not. DynamicProxy still sees interfaces the way they were pre-.NET 5, and doesn't yet support all their new capabilities. Because Moq is based on DynamicProxy, it shares those same limitations... at least for now. Support for non-public, non-abstract, non-instance interface members would have to be added in DynamicProxy. Unfortunately, development (or, more pre

[2022-03-12 09:30] stakx commented on #1217
Hi @b3go. You've reported two problems in one issue; this has the potential to get confusing quickly once we start discussing things, so I'd like to ask you to move one of those problems (say, the 2nd one) to a separate GitHub issue.

For now, I am going to focus only on (1). I cannot actually reproduce the problem you've reported. Could you please provide minimal but complete example code that ex

[2022-03-15 08:08] b3go commented on #1217
Hi @stakx, thx for the response, I'll open another issue for (2).

I wrote a quick example which shows the difference in 4.13.1 and 4.16.1.

[code]

It seems the second setup overwrites the first, because the It.Is<string> expression is handled as if it was the same. Anyway I like the syntax GetSettings(It.IsAny<string>()).Returns(...) way more than what the other dev used. I just want to let you

[2022-03-15 08:41] b3go opened #1243 "Update from 4.13.1 to 4.16.1 generic method setup fails"
created from #1217 @stakx

Example:
[code]

Again there is no real issue anymore, quoting myself:

[2022-03-16 08:48] stakx commented on #1243
Ah yes, I suspected as much. We've had a few similar reports. Whenever this issue shows up, my suggestion is to order setups from least specific to most specific... a rule that always applied and in recent versions also applies to generic type arguments.

Say you had these setups:

[code]

The first (more specific) setup would essentially be shadowed by the second (less specific) one.

The same th

[2022-03-16 08:48] #1243 closed, assigned to nobody

[2022-03-16 10:26] b3go commented on #1243
Thanks for the reply, if that's something that is reported from time to time, maybe you could consider including that case in the documentation?

[2022-03-17 15:02] PorgJuice opened #1244 "moqthis.com is down"
https://moqthis.com fails to load

![moqthis](https://user-images.githubusercontent.com/6478756/158832227-ad7c3578-61e7-4a26-9247-16491cd3707b.png)

[2022-03-18 11:24] stakx commented on #1244
Hi @ProfessorSalty, thanks for reporting. Forwarding this to @kzu.

[2022-03-18 12:30] stakx commented on #1217
OK, this regression appears to be caused by #1081 (which in turn was a fix for #1054). This PR makes it so that whenever Moq compares two LINQ expression trees, it evaluates captured variables so that their values will be compared (and not their identities).

I'm not sure I have the full picture just yet, but to state the problem in a simplified form, evaluating captured variables only makes sense

[2022-03-18 12:33] stakx commented on #1242
Note to self: this may be related to #1120.

[2022-03-19 00:35] aaronburro opened #1245 "Unexpected resolution of extension method against Mock<T>"
Moq Version: 4.2.1502.911 (need to check newer version against this...)
.NET Version: Framework 4.5.2
VS: VS 2017
Test Runner: ReSharper 2019.1

I had a unit test failure caused by Mock<T>.Object failing to use the appropriate extension method in an overload situation. See the below code for example.

[code]

[2022-03-19 16:50] stakx commented on #1245
I don't think this has anything to do with Moq, but with the C# language and compiler themselves. If you inspect the IL generated for the statement `mock.Object.DoIt(default(IEnumerable<object>));`  by the compiler, you'll get this:

[code]

Note that it only looks like you're passing a single `null` reference, but in reality, due to the `params` in the method signature, you're actually passing a

[2022-03-19 16:50] #1245 closed, assigned to nobody

[2022-03-19 17:53] aaronburro commented on #1245
So, I was confused initially, but this is why you don't write tests so late. It seems the overload resolution gives precedence to instance methods over extension methods (makes sense) if it can *possibly* fit, and in this case, now that I'm thinking clearer, it's obvious it considered the item as an object instead of `IEnumerable<object>`. Adding a seemingly pointless as cast makes it pick the rig

[2022-03-20 23:30] abatishchev opened #1246 "Placeholder in exception is not filled out"
Here's an exception I'm getting:

[code]

Note the placeholder `{0}` that wasn't filled out a value:

[code]

[2022-03-21 12:07] Naxemar opened #1248 "Setup property doesn't work as expected"
Hi everyone, from time to time we are performing a regular nuget update, and currently part of our previously working tests are not working any more.

IDE: VS 2022
Test Runner: vstest
Test framework: mstest
.NET Version: 4.8

Steps to reproduce:
[code]

Last version where it was working as expected: 4.16.1

[2022-03-21 19:20] #1246 closed, assigned to nobody

[2022-03-23 12:43] SeanKilleen commented on #1244
When using `http` instead of `https`, it appears to forward to a parked Namecheap page and says it was recently registered:

I hope that's intentional and that the domain wasn't lost.

If I can support in any way, let me know!

[2022-03-23 13:22] IanKemp opened #1249 "Failure when invoking a method with by-ref parameter & mockable return type on a mock with `CallBase` and `DefaultValue.Mock` configured"
**NOTE:** this **is not** a dupe of #1148 - my problem code **is not** using generics.

Apologies in advance if this is unclear - the tests in the repro solution I've attached should be more eloquent than my writing.

The repro uses AutoMoq because I haven't been able to trigger this issue in Moq directly, but the stack trace generated points directly to Moq as the culprit.

### Describe the Bug
G

[2022-03-23 15:48] IanKemp commented on #1219
@stakx suggest closing this then, unless you intend to keep it as a reminder to bump the Castle.Core version.

[2022-03-24 13:52] IanKemp commented on #1249
And yes, I'm aware that using `in` on an object parameter is only useful to force the compiler to disallow reassignment of said parameter in said method. But that's precisely what I'm using it for: enforcing correctness.

[2022-03-24 20:59] stakx commented on #1249
Thanks for reporting, @IanKemp. I'll look into it as soon as I find a spare moment.

[2022-04-02 09:11] stakx commented on #1249
@IanKemp, based on your repro code, I've managed to derive a failing unit test that uses Moq exclusively:

[code]

The problem appears to surface if all of the following conditions hold:

1. The mock is configured with `CallBase = true`.
2. The mock is configured with `DefaultValue = DefaultValue.Mock`.
3. The invoked method's return type can be mocked.
4. The invoked method has an `in` parameter

[2022-04-17 17:03] #1249 closed, assigned to stakx

[2022-04-17 17:05] stakx commented on #1248
@Naxemar, thanks for reporting. I'll look into it soon.

[2022-04-17 17:06] stakx commented on #1244
Looks like https://moqthis.com is back online... closing.

[2022-04-19 18:40] frenzibyte opened #1252 ".NET Hot Reload breaks mocked interfaces and throws `IndexOutOfRangeException`"
Hot reloading with interface mocks results in an internal failure once calling the method of the mock object.

### Repro

There are two scenarios in which I can successfully reproduce this:
  1. Via calling mocked method after hot reload:

[code]
  2. Via calling mocked method before hot reload, then creating another mock and calling the method afterwards (note that if the method was not called be

[2022-04-19 19:00] stakx commented on #1252
My initial suspicion is that Hot Reload / EnC does not mix well with the System.Reflection.Emit-powered proxy generation that happens under Moq's hood; esp. your second scenario. The first scenario we might get to work, albeit with a performance penalty for all other, more common use cases, so even that may not be worth doing.

[2022-04-19 19:18] frenzibyte commented on #1252
I see, figured as much – Would you be able to provide any workaround to this issue? The only way I can see forward is to replace the interface with a class (as classes work for some odd reason), but that's not quite possible for our actual use case of moq.

[2022-04-19 20:03] stakx commented on #1252
Nope, and I'm not even going to try before having analyzed this in more detail. Don't use Hot Reload / EnC in combination with runtime-generated mocks?

[2022-04-20 03:16] peppy commented on #1252
From this response it sounds like you believe a use case for this is quite unimaginable (though I may be reading into it wrong), so I wanted to provide a bit of insight that may or may not be helpful.

This issue was found when beginning to use Moq in a larger way in our game engine's testing framework (@frenzibyte helps with our project). We have our testing framework setup in a way that allows t

[2022-04-20 05:26] stakx commented on #1252
That wasn't my intention at all. Apologies if my suggestion came across as somewhat snappy. It was meant as my estimation of what you might realistically have to resort to in the end. I _will_ look into this a little more closely, but knowing the internals of Moq, DynamicProxy, and a bit about how the CLR handles metadata & EnC, I don't expect that there will be good news for you.

Thanks for addi

[2022-04-27 15:03] cyungmann opened #1253 "Difference in behavior when mocking async method using .Result vs without"
Using Moq 4.17.2, the first two mock setups in the code below work as expected and return a `Task<string>` that resolves to `null`, while the third mock setup simply returns `null`. Is this expected?

[code]

![image](https://user-images.githubusercontent.com/1622997/165548893-d7c3e20f-e210-48ab-977a-b16fb3fa59f5.png)

[2022-04-29 14:42] gurustron opened #1254 "Unable to call base interface getter with cast without explicit setup."
public interface IQueryModel : IQueryModelImmutable
    {
        public int Property1 { get; set; }
    }

    public interface IQueryModelImmutable
    {
        public int Property1 { get; }
    }

    Mock<IQueryModel> mock = new Mock<IQueryModel>
    {
        // CallBase = true // does not affect things, can be commented in/out
    };
    // mock.Setup(m => m.Property1).Returns(100);
    moc

[2022-04-29 14:52] Ana-byte-bit commented on #1253
It seems that problem is that Result allowed to have attribute of type `TResult` instead of `Task<TResult>`.

[2022-04-29 17:56] stakx commented on #1254
`CallBase` has no effect in this case because there is no base implementation to call; all your interfaces' members are abstract.

If you implemented those interfaces yourself, you wouldn't try to invoke `base.Property1`, right?

[2022-04-29 17:56] #1254 closed, assigned to nobody

[2022-04-30 05:49] gurustron commented on #1254
@stakx it's not about `CallBase`. If you remove it still setting up both methods is needed. Casting to base interface is not working otherwise.

If I've implemented both those interfaces in one class - casting it to base interface would have worked.

[2022-05-03 19:12] gurustron commented on #1254
@stakx ?

[2022-05-03 21:00] stakx commented on #1254
I don't get it. If it' not about `CallBase`, why is it mentioned everywhere, including in your question title? I suggest you rephrase the whole thing and remove whatever isn't actually related to your issue.

[2022-05-05 16:52] LogunovAV opened #1255 "sealed method mock calls actual method instead of mocked"
if you Mock the method of the class which has sealed identifier, the mock.Object.Method will call an actual method, not the mocked one.

[2022-05-05 17:46] AlexRuMath commented on #1255
Example:
![MockRunTransaction](https://user-images.githubusercontent.com/49819578/166982103-ea265075-a743-4e92-9fb8-c1653c761571.png)
![MockSwaled](https://user-images.githubusercontent.com/49819578/166982105-1b3c5330-64ed-475b-86f3-02721b58c0bd.png)

[2022-05-05 19:19] stakx commented on #1255
Moq doesn't support sealed classes/methods. You can only mock non-sealed types and virtual, non-sealed methods.

[2022-05-05 19:19] #1255 closed, assigned to nobody

[2022-05-06 15:33] AlexRuMath opened #1256 "Absence of a clause in the documentation about the lack of support for sealed methods"
Moq doesn't support sealed classes/methods. You can only mock non-sealed types and virtual, non-sealed methods.

_Originally posted by @stakx in https://github.com/moq/moq4/issues/1255#issuecomment-1118962313_
Absence of a clause in the documentation about the lack of support for sealed methods

[2022-05-06 19:58] stakx commented on #1256
I suspect this was always thought of as a known, given fact, perhaps because Moq's early user base came from Rhino Mocks, which, I believe, had the same limitations. Most other open-source mocking libraries do, too (at least those based on DynamicProxy).

Feel free to add a mention of this limitation to e.g. the quickstart.

[2022-05-11 22:44] #1170 closed, assigned to nobody

[2022-05-11 22:44] #1219 closed, assigned to nobody

[2022-05-12 11:37] stakx commented on #1253
This is a bug. As it turns out, [the logic that's responsible for wrapping the return value in a completed task](https://github.com/moq/moq4/blob/eef6e1b8f9686f227e247956f4b235f9774f0afc/src/Moq/Invocation.cs#L100) only triggers for non-`null` return values, which is incorrect since `null` is a perfectly valid value (for reference types and nullable value types).

[2022-05-12 12:10] stakx commented on #1248
This is a bug caused by [this bit of code inside `StubbedPropertySetup`](https://github.com/moq/moq4/blob/a56901655b5149c1dda38a1d843c0c6b51f9d950/src/Moq/StubbedPropertySetup.cs#L104), which compares methods in a way-too-simplistic fashion.

https://github.com/moq/moq4/blob/a56901655b5149c1dda38a1d843c0c6b51f9d950/src/Moq/StubbedPropertySetup.cs#L101-L105

This code decides whether or not the stu

[2022-05-12 12:12] #1253 closed, assigned to stakx

[2022-05-12 12:44] stakx commented on #1248
Note to self: We might get away with simply comparing property names (as already happens in `StubbedPropertiesSetup`).  This just _might_ work since `SetupProperty` doesn't support indexers, so the property signature becomes irrelevant. The part I'm unsure about pertains to explicitly implemented properties: if a property is explicitly implemented due to redeclaration in a derived type, then its n

[2022-05-12 16:10] #1248 closed, assigned to stakx

[2022-05-12 17:02] stakx commented on #1223
This is a bug, and one that will not be trivial to fix. It involves the type checking logic in `Match<T>` which has been a culprit for more than one nullable value type issue in the past.

Note to self for future reference:

`Match<T>` has a [`CanCast` helper method which is supposed to protect the `Condition` predicate](https://github.com/moq/moq4/blob/6e98431e3bfea43cc21af96afd79dcd9b7ec051b/src

[2022-05-12 17:12] stakx commented on #1224
Yes, always order your setups from most general (least specific) to most specific; that is, base types before subtypes, `It.IsAny<>` before more specific argument values, etc.

[2022-05-12 17:12] #1224 closed, assigned to nobody

[2022-05-12 17:14] stakx commented on #1198
This feature request hasn't seen any more upvotes nor other activity, so as per my original announcement above, I'm closing this. I'll mark the issue as "unresolved" though so we can more easily find it, should anyone want to pick this up in the future.

[2022-05-12 17:14] #1198 closed, assigned to nobody

[2022-05-12 17:23] stakx commented on #1256
I've added a brief paragraph to [_Methods_ section in the Quickstart](https://github.com/Moq/moq4/wiki/Quickstart#methods) (emphasis added):

[2022-05-12 17:23] #1256 closed, assigned to nobody

[2022-05-12 18:48] mjstrom commented on #1244
Both https://moqthis.com/ and http://moqthis.com/ are still serving landing pages like the ones in the screenshots earlier in this issue.   I'm assuming that isn't intentional and the domain was lost?

[2022-05-12 19:15] stakx commented on #1244
/cc @kzu &ndash; moqthis.com appears to be down again.

[2022-05-12 20:33] kzu commented on #1244
Yeah, the domain has been entirely pointless for years, with no value added for the project. I let it expire. (not entirely intentionally, but I don't think it was really necessary anyway). We can live with http://moq.github.io/moq4/ I think.

[2022-05-12 20:47] mjstrom commented on #1244
Thanks for the quick response.  Just a suggestion, you might want to update the places that still refer to the old site as it is confusing for someone (like myself) who was new to moq and trying to learn more.  I saw the link in at least two places -

- The `about` info section at the top right of the github page `https://github.com/moq/moq4` under the text "Repo for managing Moq 4.x"
- In the mai

[2022-05-12 20:50] stakx commented on #1244
Agreed with both of you. Let's go ahead and remove all references to that site since it's now gone for good.

[2022-05-12 20:51] stakx commented on #1244
@kzu could you please take care of the GitHub repo homepage link for us? (I don't have the necessary permissions to change / remove it myself in the repo's settings.)

[2022-05-12 20:54] SeanKilleen commented on #1244
✅ Submitted the PR for the markdown
✅ Updated the wiki

Once the link on the repo homepage is complete, this can likely be closed. 👍

[2022-05-12 21:46] kzu commented on #1244
Done!

[2022-05-12 21:46] #1244 closed, assigned to nobody

[2022-05-13 14:36] stakx commented on #1223
Actually, I take that back, this is a (admittedly subtle) user mistake, not a bug in Moq: You've set up `MockedMethod` to return `"foobar"` when it gets called with any `int` value... but the method gets called with `null`, which is _not_ a valid `int` value; therefore the call to `MockedMethod` quite correctly doesn't match your setup. And since you haven't set `mock2.CallBase = true`, the base i

[2022-05-13 14:37] #1223 closed, assigned to nobody

[2022-05-13 15:03] stakx commented on #1230
This still strikes me as a primarily AutoMocker-specific issue. Instead of changing Moq such that one can arbitrarily change an existing `Mock<>`'s behavior, AutoMocker should perhaps provide an API that allows you to override the `MockBehavior` on a per-request level.

Or, at least, AutoMocker, being the downstream library, should be the first to allow reconfiguring its `MockBehavior`. Having tha

[2022-05-13 15:04] #1230 closed, assigned to nobody

[2022-05-13 15:06] stakx commented on #1230
(P.S.: removing the `wontfix` label because that seems a tad too final. It's possible that sometime in the future, we might identify another use case that's common enough to justify making `MockBehavior` mutable; but this one here isn't one of them.)

[2022-05-16 07:01] #1217 closed, assigned to stakx

[2022-05-17 10:26] stakx commented on #1252
I'm currently looking into this. At first glance, it appears as if `MethodInfo.Equals` were broken. We've got two `MethodInfo`s for the same method (they refer to the same `Module` and `MetadataToken`), yet testing for equality claims that they're different.

![methodinfo-comparison](https://user-images.githubusercontent.com/104481/168790123-7675db10-8ae2-4737-9b94-1555d55d3ee0.png)

Unless I am m

[2022-05-17 10:54] stakx commented on #1252
I've reported this over at https://github.com/dotnet/runtime/issues/69427.

[2022-05-20 13:21] stakx commented on #1252
~~The above report was marked as a duplicate, the issue is now being tracked under https://github.com/dotnet/runtime/issues/67989.~~

Nope, back to a separate issue. 😆

[2022-05-23 13:40] tengl opened #1263 "Fail message on VerifyNoOtherCalls"
I would like to have a message on tests when `VerifyNoOtherCalls` fails. It would be useful if you have a number of cases where the mock should not be called in a `Theory`.

 Consider following (artificial) example, where it would be nice to have the `failMsg` printed in output if the test fails.

[code]

[![Back this issue](https://raw.githubusercontent.com/devlooped/SponsorLink/main/docs/assets/

[2022-05-25 16:04] hh23485 opened #1264 "Does ReturnsAsnyc not available for protected setup?"
Does ReturnsAsnyc not available for protected setup?
It works in non-protected functions, but can't in protected? is by design?

[2022-06-02 10:15] BrightLight opened #1265 "Mixing "property behavior" and "Setup for properties" broken (or at least changed) in 4.17.1"
I wanted to update from Moq 4.16.1 to 4.18.1, but then noticed that suddenly some of our tests fail with the new version. The affected tests all show the same pattern:
* create mock for an interface
* call `SetupAllProperties`
* define a value for a property using `mock.Setup(x => x.property).Returns(value)`
* later directly set a value on the property, e.g. `mock.Object.property = newvalue`

In 4

[2022-06-02 14:43] stakx commented on #1265
This is expected behavior. You first told your mock to stub all properties (including `Name`), but _then_ told it to return `"Ryan"` for `Name`... and that's what it does from then onwards. Later setups always have preference over earlier ones; the one for `Name` essentially "shadows" the stubbed property getter.

Perhaps in this particular case you should simply initialize the property to `"Ryan"

[2022-06-02 14:43] #1265 closed, assigned to nobody

[2022-06-03 06:59] BrightLight commented on #1265
Got it. Thanks for the fast feedback.

Yes, I will update the tests. Just wanted to ask first.
Thanks!

[2022-06-03 12:08] Prodigio commented on #1264
Is a protected method not only available for the class, which inherits from that other class with it's protected method? So it's by design not a choice of Moq?

[2022-06-03 15:59] stakx commented on #1264
@Prodigio, it's perfectly possible for Moq to set up `protected` members, as long as they are overridable.

@hh23485, AFAIK, this isn't "by design" because this part of Moq's API was added by contributors, and this particular method simply wasn't included in past contributions. Generally speaking, some APIs that got added later on (such as those behind `.Protected()` or `.SetupSequence(...)`) simp

[2022-06-07 14:50] schnickalodeon opened #1266 "Add CITATION.cff file"
It would be nice, if you could add a CITATION.cff file to your repo. So other people can easyly cite your repo in their publications :)

[2022-06-07 18:17] stakx commented on #1266
Not being in academia myself, I don't see _that_ much value in such a file (finding the project name, authors and repository URL and putting those together isn't exactly difficult to do after all), but if it's generally useful to people, then why not.

The one thing I as a project maintainer find to be a bit of a hassle is the inclusion of fields like `version` or `date-released` (or, even worse,

[2022-06-14 10:13] dvabuzyarov opened #1267 "Opt in parameters matching logic"
moq: 4.16.0

Faced an issue where a reference type (generic List) is compared as a value type with ConstantMatcher. MatchesEnumerable.
Please consider this case:

[code]

I can see here some inconsistencies where some reference types are treated as value types and some not.
The behaviour is not obvious and I haven't found any documentation on it.

It would be nice if developers could opt in using

[2022-06-23 19:37] lorddev commented on #1137
This doesn't compile. Is there another example?

[2022-06-23 19:46] niksanla2 opened #1268 "Add primitive for It.IsAny"
I think it will be more conveniently if we just add for primitive types something like:
It.IsAnyString()
It.IsAnyInt()
It.IsAnyDouble()
It.IsAnyBool()
etc.

[2022-06-23 21:07] stakx commented on #1268
I don't think this is worth the effort. For starters, in C#, `It.IsAnyInt()` isn't much shorter than `It.IsAny<int>()`. If we added those as "shortcuts", they should be at least be properties so you don't need to type the parentheses: `It.IsAnyInt`. But there are other potential issues, e.g.:

* The suggested member names use C# type names. Perhaps the majority of .NET users use C#, but it's not t

[2022-06-26 08:10] deva7mad opened #1323 "C# Xunit & Moq mocking generic repository, unitOfWork repository always returns null"
The problem is when I try to mock any method of the repository, for example `GetFirstOne`, it always return `null` during debugging.

C# mocking generic repository, unitOfWork and applying filter expression return exception that because repository always returns null

Method in service class that I wrote test for it:

        public bool ResetPassword(ChangePasswordDto changePasswordDto)
        {

[2022-06-29 19:33] asherjvitek opened #1269 "Performance Issues After Version 4.12.0"
Recently we updated our version of moq from 4.7.99 to 4.17.2 in the Solution we use which has around 12,000 unit tests. When we did this the Test run times jumped from around 3+ minutes to 12+ minutes. Once this was noticed we did some benchmarking on a subset of 54 of those unit test and found the following performance differences.

| MOQ Version | Time |
| --- | --- |
| 4.7.99 | 2.7sec |
| 4.8.0

[2022-06-29 22:35] stakx commented on #1269
Yes, if you want someone looking into this, repro code will be required. Otherwise there isn't much that can be done.

[2022-07-03 14:26] #1268 closed, assigned to nobody

[2022-07-03 14:38] stakx commented on #1267
Agreed that Moq has some funky rules regarding what's evaluated by value vs. by reference, and eagerly vs. lazily. And you're right that not all of that is documented... perhaps the thinking was that having the implementation working that way would make things just work &trade; in most usual scenarios.

We've been able to rectify a few such irregularities in the past, and I suppose we _could_ rect

[2022-07-03 14:44] stakx commented on #1263
In this (artificial) example, wouldn't it be sufficient to give a more meaningful name to the test method itself (say, `Caller_does_not_invoke_component_for_values_not_between_2_and_43`)? Your test runner would then output that method name for the test failure. Seems like a simpler solution than having to extend the tooling...

[2022-07-08 13:50] crash-dive commented on #1238
Just thought I would add that Moq will just error at runtime if you have strict behaviour on and the type you are mocking has a static abstract property on it even if you do not touch that property with Moq.

However if you do not need to mock that property and just want to ignore it you can implement the interface in an abstract class, implement the static properties in the abstract class and the

[2022-07-12 09:32] diogonborges opened #1270 "Question: SetupSequence"
Is there an option to use SetupSequence in a form that you setup the first, second, and _then_ all subsequent iterations?

[code]

[2022-07-12 10:31] stakx commented on #1270
No, not at this time. There has been a discussion about extending `.SetupSequence` so you can give it an enumerable and it'll return one element from that per call (and something similar would have to exist for `.Callback` of course), but that hasn't been implemented so far.

It used to be possible to add a base "tail" setup first, and then a sequence setup on top of that only for the first few "h

[2022-07-12 10:31] #1270 closed, assigned to nobody

[2022-07-18 08:37] tengl commented on #1263
Yeah, it was a bad example. There are more complicated inputs where renaming the test is not as easy. But maybe we should duplicate the test into several facts instead, and give the tests more descriptive names.

[2022-07-24 09:53] stakx commented on #1269
@asherjvitek, any chance that you could provide a test case that I could use to re-run those runtime measurements / reproduce the performance degradation starting in version 4.13.0?

Otherwise I'm going to close this issue in about two weeks' time.

[2022-07-24 11:10] asherjvitek commented on #1269
I'm really sorry, I meant to update this issue.

I tried building up an example that didn't use any proprietary code and
when I did the performance difference was not nearly as noticable.

It appears that mocking a large COM Interop object is at the core of the
issue in the codebase I work in.

With that being said I can't give an example including that Interop.

You can close the issue for now as

[2022-07-24 12:28] stakx commented on #1269
Thanks for your reply. OK, I'll close this for the time being, feel free to add a test case / repro code anytime and we can reopen this issue.

If you're mocking a co-class, and it's large (as in: it has many virtual methods), that might be the problem. If you're mocking COM interfaces, I'm surprised that updating to the latest Moq version doesn't bring a huge performance speedup as there has been

[2022-07-24 12:28] #1269 closed, assigned to nobody

[2022-07-25 12:43] stakx commented on #1252
@peppy, it just ocurred to me that you may be able to avoid this error with Hot Reload by downgrading Moq. Moq didn't always cache those `MethodInfo` that cause trouble here, so earlier versions might work. (I don't know without checking the source code how many minor versions you need to go back; I'm assuming 4.7 as the lower boundary.)

[2022-07-28 10:46] yacine-karim opened #1272 "Unit Tests Mock ControllerContext HttpContext No service for type 'Microsoft.AspNetCore.Mvc.View...ITempDataDictionaryFactory' has been registered"
In my test project i am using xUnit with Moq.

now i want to unit test these piece of code in the controller:

[code]

As you see it uses the ```SignOutAsync``` of the ```HttpContext```.

I tried so many solution such as https://stackoverflow.com/questions/3661722/asp-net-mvc-unit-testing-mocking-httpcontext-without-using-any-mock-framework but didn't work for me, since i dont have access to the `

[2022-07-28 13:32] stakx commented on #1272
This repository is for the development of Moq, not for plain usage questions. We simply don't have the capacity to answer such questions, esp. when they require some study. Places like Stack Overflow are better suited for this. Thanks for your understanding.

[2022-07-28 13:32] #1272 closed, assigned to nobody

[2022-08-01 03:35] peppy commented on #1252
Thanks for the suggestion, but it seems like going that far back causes package installation fails against `net6.0`:

[code]

[2022-08-01 11:01] stakx commented on #1252
@peppy, I see. If you had to go back further than where we introduced .NET Standard as a TFM, you'd be out of luck. Too bad.

[2022-08-01 14:37] tgrieger-sf opened #1273 "Improperly throws System.TypeLoadException on mock when a record has a base record on dotnet 6"
A System.TypeLoadException is incorrectly thrown on dotnet 6 when mocking a record with a base record. See simple repro below.

[code]

[2022-08-01 15:20] stakx commented on #1273
The Entity Framework team noticed the same thing and reported it directly to the DynamicProxy project (upon which Moq 4 is built): https://github.com/castleproject/Core/issues/601.

This has recently been fixed there, and it will be fixed in Moq once we can upgrade to the upcoming version of DynamicProxy.

[2022-08-01 16:06] tgrieger-sf commented on #1273
Awesome, thanks for the update!

[2022-08-02 17:45] #1273 closed, assigned to stakx

[2022-08-02 17:50] tgrieger-sf commented on #1273
Thanks @stakx! 🚀

[2022-08-02 17:53] stakx commented on #1273
You're welcome @tgrieger-sf. FYI, I'm going to push a new release to NuGet shortly.

[2022-08-02 18:02] stakx commented on #1175
@toppiovi, FYI, your test case has a slight problem that would prevent it from passing even if there were no issue with Moq:

[code]

I'm going to add a corrected version of your test case to the regression suite.

[2022-08-02 18:09] #1175 closed, assigned to nobody

[2022-08-02 19:10] #1209 closed, assigned to stakx

[2022-08-02 19:20] stakx commented on #1209
@pjquirk, I'm just about to release Moq version 4.18.2 to NuGet, which includes a fix for this. Thanks again for reporting.

[2022-08-02 19:23] stakx commented on #1175
I've just pushed Moq version 4.18.2 to NuGet, that version includes a bugfix for this issue. Thanks again for reporting!

[2022-08-02 19:24] stakx commented on #1273
This is now fixed in Moq version 4.18.2, which has just been pushed to NuGet.

[2022-08-04 11:49] mo-russo opened #1278 "`SetupAllProperties` crashes when invoked on a `Mock<T>` subclass"
Simply create a `class MyClass : Mock<T>`, create an instance and invoke SetupAllProperties.

[2022-08-05 06:02] peppy commented on #1252
I think I may have misunderstood what you meant by lower bound, and went straight to that point in time. I'll do some further testing with versions in between soon.

[2022-08-05 07:05] #1278 closed, assigned to stakx

[2022-08-24 09:04] maxxie85 opened #1284 "Setup of a property that's overridden"
When mocking an interface that's derived from a base interface that implements property overrides. The setup of the properties doesn't propagate to the base interface. This sort of makes sense, but I found no way of setting up the base property get.

Consider the following:
[code]

[code]

[code]

This will throw when running the test program. The legitimacy of the need to use the new keyword in t

[2022-08-24 10:12] stakx commented on #1284
And it shouldn't, since those are two entirely separate properties. They only happen to share the same name.

Two things that may be worth trying:

* `mock.SetupGet(m => ((IBaseInterface)m).ValueString)...`
* `mock.As<IBaseInterface>().SetupGet(m => m.ValueString)...`

[2022-08-24 11:13] maxxie85 commented on #1284
I agree

This causes an Unsupported ArgumentException

[code]

The same is true for `(x as IBaseInterface).ValueString`

This does work! Thanks for the quick response.

[2022-08-24 11:13] #1284 closed, assigned to nobody

[2022-08-29 11:06] PavelReichl opened #1285 "TargetParameterCountException when using event Raise with Moq"
I have a class with following event:

[code]

I would like to test the handler for an event and have following code_

[code]

I am getting exception:

[code]

Any idea how to solve this?

[2022-08-31 17:37] stakx commented on #1285
Not without some repro code. The following works perfectly fine:

[code]

So obviously your code differs in some way. Without knowing how, there's no way to help you.

(Please note that this issue tracker is for the development of Moq, and not so much for plain usage questions. So unless you think you've found a bug, you'd be better off asking this in places such as Stack Overflow. You'll likely h

[2022-09-01 05:36] RohitBinjola opened #1286 "System.InvalidProgramException : Cannot create boxed ByRef-like values."
Getting below issue in MOQ unit test after upgrading the framework from 3.1 to 6.

**Message:** 
System.InvalidProgramException : Cannot create boxed ByRef-like values.

**Stack Trace:** 

[code]

**Test Code:** (Same code is working fine in .net core 3.1 but failing with below exception in .net 6)

[code]

![image](https://user-images.githubusercontent.com/18713223/187839662-078a4af8-86ae-46fe-b3

[2022-09-01 13:12] PavelReichl commented on #1285
[MoqSampeTest.zip](https://github.com/moq/moq4/files/9470084/MoqSampeTest.zip)

Prepared repro code.

[2022-09-04 15:13] igor-ganov commented on #1137
You can't use `Func<object, Exception, string>` to genericize a `Func<T, Exception, string>` argument, because in the case of Func's input parameters it's not you generalizing, it's client forced to generalize by you. In other words, you're telling the caller to give you a method that can handle ANY input type, but he only knows how to handle type T:

[code]

If you're interested, this comes down

[2022-09-07 09:06] apazureck opened #1287 "Use Moq as a proxy"
Hi,

I have a question / feature request (?) using Moq as a proxy and just mocking / "rerouting" a specific method / property.

So what I want to do:

I am using the Docker Dotnet Library and want to use it in my Integration / Component tests. As Docker is running locally I would just use the real Docker for most of the tests (Creating Containers, Creating Images, etc.). But I would like to replac

[2022-09-19 05:15] #1264 closed, assigned to nobody

[2022-09-22 16:34] Arulselvan2408 opened #1288 "Moq fails when a method with input parameter of type Expression<Func<T,bool>> is called"
When a method with input parameters of type Expression<Func<T,bool>>, the mock setup is not returning the expected value when called inside using statement with transaction inside the using statement.
Let' say my expression is x=>x.Userid==userid where userid is an input parameter of the test method

mock.SetUp(x=>x.SearchFor(expression)).Returns(some expected value).Callback(()=>++counter)

This

[2022-09-26 11:43] maxnatamo opened #1289 "Invocation failed with minimal example"
I've tried looking through the existing issues, but I wasn't able to find anything useful.
The example below uses Moq 4.18.2.

Using Strict-mode, this setup fails to execute:
[code]

This mimics a very simple setup, however, it stops us from creating unit tests.

[code]

[2022-09-26 16:08] stakx commented on #1289
You're calling `GetRandomGuidString` on an `ITest` mock, but you haven't set that method up, so the strict mock throws, which is the correct and expected behavior.

Your `Test` class (which implements `ITest`) isn't used in your unit test at all. The fact that you've included it above makes me suspect that you may have been misled by it.

[2022-09-26 16:08] #1289 closed, assigned to nobody

[2022-09-30 15:30] coenvk opened #1291 "`EmptyDefaultValueProvider` should support `IReadOnlyCollection`"
The `EmptyDefaultValueProvider` should support `IReadOnlyCollection`

[![Back this issue](https://raw.githubusercontent.com/devlooped/SponsorLink/main/docs/assets/img/separator.png "Back this issue")](https://www.devlooped.com/SponsorLink/github/issues/?s=devlooped)
[![Back this issue](https://img.shields.io/badge/backed-%240-EA4AAA?logo=githubsponsors "Back this issue")](https://www.devlooped.com

[2022-10-03 22:39] stakx commented on #1286
It would appear that `StreamWriter.WriteLine` calls its underlying stream's `Write(ReadOnlySpan<> buffer)` method, which Moq cannot mock (because its underlying library, DynamicProxy, cannot intercept it). That's an architectural limitation in both DynamicProxy and Moq; there's nothing that can be done about it. You'll likely need to create a mock `Stream` manually.

[2022-10-03 22:39] #1286 closed, assigned to nobody

[2022-10-04 21:10] fndejan commented on #1291
Hi @stakx, is anyone working on this one? I would like to take it.

[2022-10-04 22:09] stakx commented on #1291
Hi @fndejan, no, noone is working on this right now. This (or something very similar) has been requested before, so please be aware of https://github.com/moq/moq4/issues/173#issuecomment-347695892. I can definitely see the sense behind supporting newer common collection types, and I'm a little more willing than back then to make reasonable breaking changes... but `EmptyDefaultValueProvider` is suc

[2022-10-05 00:17] khurd21 opened #1292 "Mocking dependency with `in` keyword parameter does not match"
I have an interface:

[code]

And in my test case:

[code]

The Setup will not match in this scenario. When looking into why, I found that if I change the interface to not contain the `in` keyword, the match works as expected. Is this an expected behavior?

With this interface it works as expected:
[code]

[2022-10-05 00:26] khurd21 commented on #1292
Never fails after you post something, you find an answer.

I replaced `It.IsAny<LoggedJump>()` with `It.Ref<LoggedJump>.IsAny` and it works as expected.

[2022-10-05 00:26] #1292 closed, assigned to nobody

[2022-10-05 15:33] stakx commented on #1287
DynamicProxy would definitely be the better tool to use for this purpose.

Moq doesn't support composition-based proxying like DynamicProxy does, and that is unlikely to change. The only real option you've got when using Moq is to mock some `DockerClient` class implementing `IDockerClient` instead of the latter interface, then setting `mock.CallBase = true`... but you'll only be able to setup thos

[2022-10-07 08:26] drieseng opened #1293 "Cannot mock non-virtual "interface" method on abstract class"
We recently upgraded to version *4.18.2* of **Moq** (from a version that dates back to when the animals still spoke), and found a regression with regards to mocking of non-virtual methods that implement an interface.

To reproduce, compile and run the following code:
[code]

**Expected result:**

No exception. This is the result you get up to version **4.7.49** of **Moq**.

**Actual result:**

As

[2022-11-02 22:29] matthiaslischka opened #1295 "Setup generic dynamic return"
I have an interface that looks like this:
[code]
I can pass an selector func to get exactly the data structure that I need.
e.g.:
[code]

For this I can write the setup like:
[code]

**But I don't know how to setup for dynamic return types.** (afraid its not possible)
So my real call looks like this where I return just an anonymous class and not a DTO in the selection func:
[code]
Now I can not si

[2022-11-10 10:10] jdx-john opened #1296 "Allow passing method parameters to Throws/ThrowsAsync"
In much the same way you can pass (bind?) parameters to `Returns`:

[code]

It would be great if you could do the same for exception testing where you want to test the actual details of the exception:

[code]

I was suggested to use something like the following as a workaround, but it would be a useful enhancement I think.

[code]

[![Back this issue](https://raw.githubusercontent.com/devlooped/Sp

[2022-11-14 17:23] Prinsn opened #1297 ""Invalid Callback" in NonVoidSetupPhrase.Returns -> ValidateCallbackReturnType is not informative or actionable"
.NET version: .NET 6
Test Context: XUnit
Moq: 4.8.12

Summary:
Following these examples
SO: https://stackoverflow.com/questions/45558470/how-do-i-go-about-unit-testing-with-entity-framework-and-moq
Doc: https://learn.microsoft.com/en-us/ef/ef6/fundamentals/testing/mocking

[code]

Is thrown immediately on execution, with the message

Expected:
Label, name, method, property, field, class, or any ot

[2022-11-21 11:12] foxesknow opened #1301 "Mocking a method that takes an in parameter"
I have a method that takes a large readonly struct as an `in` parameter. I'd like to setup a mock so that I can match against a certain property on the struct.

Because it's passed as `in` I need to use `It.Ref`. However, there's no option to attach a predicate. For example I'd like to say:

`myMock1.Setup(x => x.Visit(ref It.Ref<LargeStruct>.Is(r = r.UserID == 10))`

The only option available is

[2022-11-25 10:50] THQ-WIFA opened #1302 "Moq 4.18.3 Release still pending"
Since Aug 2022, "SetupAllProperties()" is broken in the current NuGet package Moq 4.18.2, despite the fix is here (see #1278).
The Milestone for 4.18.3 has no other open issue.

I would like to propose that 4.18.3 be released, or scheduled at least.

Regarding the [guidelines](https://github.com/moq/moq4/blob/423fee7c7a7b131ebbe3e59044c9a1ce525a1d57/CONTRIBUTING.md): This is not an API change to v

[2022-11-28 14:40] dilandau2001 commented on #1230
Another case I am right now in that and I think it could be a valid scenario for the feature request.

using Xunit, with Autofixture and automoq.
I leave the Automoq feature do its job to create all dependencies of a tested class.

Lets say the test is something like this:

`
[Theory]
[AutoDomainData]
public async Task WhenThen([Frozen] Mock<ILogger<Client>> logger, Client sut)

// ILogger is the

[2022-11-28 14:55] voroninp commented on #1230
@dilandau2001 , Why not just create custom `ILogger<T>` and factory for xUnit without bothering with Moq? Do you also need to verify certain calls?

[2022-11-28 16:57] dilandau2001 commented on #1230
@voroninp
How do you tell Autofixture.Automoq to use your version of ILogger<T> when autoinjecting atributes of the constructor?

[2022-11-28 17:07] voroninp commented on #1230
@dilandau2001 , [custom resolver](https://github.com/moq/Moq.AutoMocker/blob/c51662614d2da8c7fb434778d66324a02eb0371e/docs/Moq.AutoMock/AutoMocker/Resolvers.md)?

Here's a [similar issue](https://github.com/moq/Moq.AutoMocker/issues/126)

[2022-11-28 19:53] dilandau2001 commented on #1230
mmm, I wasn't using Moq.AutoMocker.
I was actually using Autofixture, and Autofixture attributes:
https://autofixture.github.io/docs/quick-start/#
here it is explained how to create a custom attribute that does all the work to create all mocks.

I  feel that your suggestion should work somehow... although I don't know yet how I would add that resolver to the autofixture resolve pipeline.

[2022-11-29 06:50] the-avid-engineer commented on #1238
It looks like the only viable solution, as of .NET 7, would require sacrificing strong typing.

Per compiler error `CS8920`, interfaces that define static abstract methods cannot be used as generic type arguments unless they _implement_ the static abstract methods.

So any kind of solution where you mock this kind of interface method would have to use `typeof(IMyInterface)` in some way, because `n

[2022-11-29 06:50] #1238 closed, assigned to nobody

[2022-11-29 08:35] dilandau2001 commented on #1230
Just for the sake of continuation if someone falls into this post.
I have created a full post inside Autofixture github explaining my test case and why I would have needed this feature.
#https://github.com/AutoFixture/AutoFixture/discussions/1369

As it is kind of mix responsability among Autofixture, Xunit and Moq libraries I kind of feel the Autofixture github is the appropiate one.
Thanks for t

[2022-11-30 15:17] carzaza opened #1303 "Testing non virtual public methods"
Hello,

I'm trying to unit test a public class that contains an orchestrator method and a series of methods, which can be called by the orchestrator but also externally:

[code]

My intention is to perform a test like the following one, but it can not be done without virtual methods:

[code]

Is there any alternative for testing this? Does any approach exist that I am not considering?

I have sear